[2017-05-22 18:48] w1th0utnam3 opened #1 "C1001 internal compiler error in VS2017"
For Visual Studio 2017 (compiler version `Microsoft (R) C/C++ Optimizing Compiler Version 19.10.25019 for x64`), the uniform initialization of the `pool` tuple in the `ComponentPool` constructor:
[code]
results in the internal compiler error

A temporary workaround is to replace the uniform initialization with a standard initialization:
[code]
The line can be found [here](https://github.com/skypja

[2017-05-22 19:13] skypjack commented on #1
Unfortunately it's an issue of VS compiler. I cannot do much for that. If you find a workaround that works on VS, I'd be glad to integrate it. I've not a copy of Windows on which to test it.

[2017-05-22 19:25] w1th0utnam3 commented on #1
Thanks you for your reply. As I mentioned in the last lines of the initial post, using
`: pools(Pool<Component>{dim}, Pool<Components>{dim}...)`
instead of
`: pools{Pool<Component>{dim}, Pool<Components>{dim}...}`
does the trick for VS2017, i.e. not using the uniform initialization syntax for the tuple.

[2017-05-22 19:45] skypjack commented on #1
Yeah, I got it. Feel free to put it in a PR. Anyway, I'd like to have a switch like `#ifdef WIN32/#endif` where `WIN32` should be exported from cmake.

[2017-05-22 20:34] skypjack commented on #1
Ok, I pushed on branch appveyor and [it works](https://ci.appveyor.com/project/skypjack/entt).
If you can confirm it, I'll merge the branch on master. Do not forget to build by using cmake, for it exports the expected variable `WIN32`.
Thank you. I'm looking forward for your feedback.

[2017-05-23 05:32] w1th0utnam3 commented on #1
Are you sure that you only want to enable this when cmake ran? As the registry, etc. is header only I didn't run it and instead directly included the headers.
Alternatives or extensions to your solution would be the macros `_MSC_VER` for the compiler version and `_WIN32` and `_WIN64` depending on the target [defined by the Microsoft compiler](https://msdn.microsoft.com/en-us/library/b0084kay.aspx)

[2017-05-23 06:27] skypjack commented on #1
Actually I think cmake sets it up also when you run it through cygwin. Good point. `_MSC_VER` is more appropriate. Can you create a PR for that? Otherwise I'll update it in the afternoon.

[2017-05-23 06:44] w1th0utnam3 commented on #1
Makes sense, using `_MSC_VER` it's later possible to restrict this fix to older compiler versions when the bug is fixed. I could write a PR but unfortunately I'm not able do this before afternoon either.

________________________________
Von: Michele Caini <notifications@github.com>
Gesendet: 23.05.2017 8:27 vorm.
An: skypjack/entt
Cc: Fabian Löschner; Author
Betreff: Re: [skypjack/entt] C1001 int

[2017-05-23 06:57] skypjack commented on #1
Found the time to updated it and it works just fine on appveyor as expected.
If you can confirm it your side, I'll merge everything on master and close the issue.
Thank you very much.

[2017-05-23 14:20] w1th0utnam3 commented on #1
Cool. Yes, it is working now.

[2017-05-23 14:59] skypjack commented on #1
Upstream. Thank you.

[2017-05-23 14:59] #1 closed

[2017-05-30 04:52] dbacchet opened #5 "iterators order"
Hi Michele, great project. I've been using ECS for medium/large scale simulations for a while and this library has a great potential, being fast, small and easily embeddable.

I spent some time experimenting with EnTT and the only thing that feels strange is the default order in which the entities are returned in a view.
The `begin()` and `end()` iterators refer respectively to the end and beginni

[2017-05-30 06:26] skypjack commented on #5
I'm glad you like the project. I hope it works fine for you.
Let me try to explain the reasons behind the iterators order and why users should not care about that.

First of all, when you use a pure ECS approach, your systems shouldn't be affected by the order of the entities. All what you want is the set of entities that have specific properties (components) to perform an action on them. They com

[2017-05-30 07:15] dbacchet commented on #5
question answered :).
I didn't get the fact that iterators were not invalidated in case entities are added or removed.
Pretty handy and definitely worth the price of having a custom iteration order. Thanks!

Even with this approach there is another problem though; your assumption is valid only if there are no parent/child relations between entities.

the following code (tested with c5fb1a1) shows

[2017-05-30 07:31] skypjack commented on #5
Yeah, using an ECS for a single component doesn't make much sense and I put an assert to remember that to the users. :-)
I'll look into your example and be back with a response as soon as possible.

[2017-05-30 07:53] skypjack commented on #5
Oh, ok, I got it. That's because you are moving around an already visited item in front of the iterator for it's referenced as child of the current entity. This cannot be solved even if you iterate the other way around (simply swap the parent-child relationship and the problem will still be there).

How can one solve it? Well, probably as I said in the previous comment. The underlying system could

[2017-05-30 16:18] dbacchet commented on #5
Totally agree. My point with the example was to highlight that even the reverse iterator could have problems in situation where you typically have to invalidate the iterator.

About the parent/child relationships, I cannot agree more on the fact that it should be managed by an higher level system (also because in real-life applications most of the time the operations and behaviors are customized a

[2017-05-30 16:18] #5 closed

[2017-05-30 16:33] skypjack commented on #5
What do you expect exactly from a `valid(entity)` functionality? I mean, there is no reason not to add it. Anyway, `has<Component>(entity)` already does a great job for me, so I can't imagine what's the logic of `valid(entity)`. That's all. If you can give me more details, I'll kindly implement it.

[2017-05-30 16:48] dbacchet commented on #5
forget. I'll implement it on top of the registry.

[2017-05-30 17:01] skypjack commented on #5
Well, if it's​ useful and it doesn't bring performance hit or extra space, we can safely move it within EnTT. I'm at your disposal and... Just curious now. :-)

[2017-07-02 23:00] misnor opened #6 "Error in Code Example"
Hi!

I wanted to bring your attention to a potential issue in the Code Example in the README.

I am trying out entt and noticed I was getting a compilation error on the following loop:

[code]

Specifically, 'registry': undeclared indentifier.

Switching registry to ecs seems to make the example work as expected:

[code]

I only dabble in C++ so I didn't want to submit a PR for this fix in case I

[2017-07-03 06:48] skypjack commented on #6
You are right, absolutely. That's a typo.
I use to call it `registry` in my code. I suspect I missed it while copying over to the README.
I'll fix it in a couple of hours (I'm not in front of my PC right now).

Thank you very much.

[2017-07-03 07:12] skypjack commented on #6
Fixed. Thank you very much.

[2017-07-03 07:12] #6 closed

[2017-09-02 16:19] tomsharratt opened #9 "Systems?"
Hi,

I was wondering if it would be possible to implement systems based on views. I'm not very familiar with templates to understand how everything in this library works, so I was hoping to get an answer here.

I imagine something like this would be useful:

    template<class ECS, typename... Components>
	class System<ECS, Components...>
	{
	public:

		using pool_type = typename ECS::pool_type;

[2017-09-02 17:56] skypjack commented on #9
Yeah, definetely yes. You can do that.
I'd suggest you to pass the registry by reference to the systems (registries aren't copyable and you don't want to move it, I'm pretty sure, for the goal is usually to share it between all the systems).
Also, for it's a dependent name, probably you'll have to do something like this to use the `view` member function:

    m_ecs.template view<Components...>()

[2017-09-02 20:44] tomsharratt commented on #9
A working example would be ideal, I'm really not very familiar with templates.

Thank you.

[2017-09-02 21:54] skypjack commented on #9
Something along this line should work:

[code]

Let me know if you need more help.

[2017-09-03 08:19] tomsharratt commented on #9
Fantastic, thank you for this.

[2017-09-03 08:19] #9 closed

[2017-09-13 19:41] DJuego opened #10 "Trouble with Visual Studio 2017 debug mode."
Hi! Thank you for **EnTT**. I want to notify this.

OS: Windows 10 x64

I have build successfully your library and the **Code Example** with MinGW Builds. And i get:

[code]

Too I have build successfully your library and the Code Example with Visual Studio 2017. And i get the **same** result in release mode. However when i run in debug mode  an exception is thrown:

[code]
The exception is produc

[2017-09-13 19:59] skypjack commented on #10
Interesting indeed. I don't have Visual Studio 2017, so I cannot reproduce it right now.
If you have any clue of what's the reason, we can manage to arrange a test on appveyor and _fix_ it (even though it doesn't look like a bug in `EnTT`, so I'm not sure _fix_ is the right term to use here).

Just out of curiosity, I'm pushing an updated version of `EnTT` with improved performance and more featur

[2017-09-13 22:26] DJuego commented on #10
It is a pleasure for me to try to help you.

I have updated EnTT and the new Code Example. It's build successfully in MinGW (gcc 7.1.0).
However In Visual Studio 2017 i get:

[code]

[2017-09-14 05:23] skypjack commented on #10
Is this line that makes VS crazy?
[code]
It looks like it fails to parse a call made to a dependent name when it's part of an actual template parameter for a class template. They'll never ship a decent compiler with that IDE, this is a fact.

I'll try to reproduce the error on appveyor, so that I can look for alternative syntaxes to put in an `#if`/`#else` for VS. :-)
If you manage to solve it, an

[2017-09-14 06:45] skypjack commented on #10
I've just reproduced the error on appveyor - https://ci.appveyor.com/project/skypjack/entt
Let's try to work around it somehow. I don't think they will fix their compiler any time soon.

[2017-09-14 11:18] DJuego commented on #10
Thank you very much for your successive efforts! I feel especially grateful that you find the will to face a compiler that you do not use and you find it unfriendly. And that you could easily ignore.

I think it is interesting to remark that visual studio 2017 is widely used in video game development. And video game development is a target field for ECS. So i believe that the effort pays off.

Sad

[2017-09-14 11:32] skypjack commented on #10
Upstream a working version. Can you test once more the `master`?
It works fine on appveyor with MSVC 2017. Thank you.

[2017-09-14 11:59] DJuego commented on #10
@skypjack, It works like a **charm**!! Fantastic! You can close this issue with pride :-)

DJuego

PS: And thanks for your 'crash' course. :+1

[2017-09-14 12:01] #10 closed

[2017-09-14 12:15] skypjack commented on #10
I've added also a few features in the last version. Suggestions for some others are welcome.
Just out of curiosity, are you using it in a real project? I hope you like it, I spent a while on the interface...

[2017-09-14 17:56] DJuego commented on #10
Well @skypjack . Sincerely, I do not yet have enough skill about ECS to judge your work wit any deep or make suggestions.

However i can say i like your work. I like your emphasis on performance and simplicity.  It is critical for me that offers support for the main c++ compilers (gcc, clang, msvc). Header-only is an important bonus for me too.

The **EnTT** interface seems  clean and well thought

[2017-09-14 21:25] skypjack commented on #10
@DJuego Don't worry. You're English is fine. I'm not a native speaker. At the end if the day the goal is to get each other and we did it, so... ;-)

Performance are pretty important for me, you're right. Anyway I spent a lot of time designing an API that was both complete and easy to use. Who knows if I succeeded. Time will say.

Support other developers is... Well, interesting at least.
I'm fond

[2017-09-20 14:07] cyrant opened #12 "The program crashes when nothing abnormal happens"
'The program has unexpectedly finished' with this minimal code:
[code]
And no, with this addition of code to the end:
[code]
It seems to me that this confusing behavior, depending on the NDEBUG definition, looks bad, as well as this part of the code:
[code]

[2017-09-20 14:15] skypjack commented on #12
In production environment I usually want to be sure that all the entities have been correctly deleted, thus all resources have been correctly released.
That's why there is an assert in debug mode to force a call to `reset` at the end of the process.

It works as expected, this is not a bug, I'm sorry.

[2017-09-20 15:19] cyrant commented on #12
But you do not get what you want. Look at your code:
[code]
[From the standart:](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2017/n4687.pdf#section.15.4)

So, _direct_'s (object of std::vector class) destructor will be guaranteed to be called. Checking _direct.empty()_ is not needed.
Moreover, according to the standard, this check is not correct. Since the destructors of class members (_dir

[2017-09-20 15:27] skypjack commented on #12
Actually no, if you call `registry.reset();` (that is the recommended way) everything works just fine.
I can partially agree on the fact that components would be destroyed in any case, but I'm reworking the ECS to use raw storage (aka `char`s), thus it won't apply anymore.
That being said, I don't see the problem of invoking `reset` before to destroy the ECS yet, I'm sorry. What's the real problem

[2017-09-20 15:35] cyrant commented on #12
Why not just add _registry.reset()_ (maybe with _#ifndef NDEBUG ... #endif_) to _~SparseSet()_ instead of assertion?
The problem is that the program terminates incorrectly when it should.

[2017-09-20 15:51] skypjack commented on #12
Mainly because the `reset` can throw (it depends on the components' types and we have no control over them) and to check that components have been properly destroyed is easier, faster and safer. Moreover because I want to be sure I've destroyed all the components on purpose when I destroy the registry. I don't want it to hide issues around by cleaning up my data.
Again, I don't see the problem wit

[2017-09-20 16:09] cyrant commented on #12
Direct calling of `reset` is unobvious. And it breaks RAII idiom.

[2017-09-20 16:41] #12 closed

[2017-09-20 17:10] skypjack commented on #12
Actually RAII idiom is something slightly different from what you got if you find this breaks it. And _unobvious_ is something undocumented, that isn't the case for the requirement of calling `reset`.
I'm sorry but you can have the cake and eat it with `EnTT`, at least with version 1.x (the current master). Version 2.x on which I'm working on right now won't have that assert probably, so stay tune

[2017-09-20 20:33] cyrant commented on #12
The STL, a good example of idiomatic C++, never requires me to call smth like `reset()` (release? clear? free?) directly to not abort my program. Because of ([thanks to Wikipedia](https://en.wikipedia.org/wiki/Resource_acquisition_is_initialization)):

That's why I described this requirement as _unobvious_. I mean _unexpected_. I am sorry for my English. (It is far from my native language. Which i

[2017-09-20 21:49] skypjack commented on #12
Just a question.
If I succeeded to remove the requirement of statically specifying components when users declare the registry, so that you can do this:
[code]
Do you think it could be a nice to have feature? I'm interested in the opinion from users.
The price to pay is a potential performance hit when you create components, that's all. Performance should be unaffected.
Moreover multicomponent view

[2017-09-21 03:16] cyrant commented on #12
I do not see a big difference. In both cases, types of components must be known at compile time, right? But, if multicomponent views will really gain performance boost, it sounds good for my goals. Considering that I don't create dozens of objects at each loop of the program's main cycle.

---
If the pool (sparse array) is used only within the library, then it does not matter who manages its conte

[2017-09-21 05:39] skypjack commented on #12
Well, the biggest difference should be in terms of compilation time when you change the components list or a component definition. The registry is included in all the files that work with components, the single component affects only a few files. In large projects it means you have far less files to recompile.
Other differences exist but have not that impact indeed.

[2017-09-21 05:51] skypjack commented on #10
@DJuego Just out of curiosity, a question about a possible change in the API. I'm interested in your opinion.

What about if don't have to declare components anymore when you declarare the registry?
In other terms, today you have this:
[code]
It would become:
[code]
Main difference is in compilation time for large projects. Anyway it's also quite annoying for me to declare everything at compile-ti

[2017-09-21 06:00] dbacchet commented on #10
@skypjack, @DJuego, sorry if I sneak into this thread.
the API change that you propose makes __a lot__ of sense. I'm using EnTT in a decently big simulation environment, and the compilation time overhead due to the current template structure is already pretty big (a few seconds per file, I have 20+ components). And the number of components will grow quite a bit in the next future.

On the general

[2017-09-21 06:05] skypjack commented on #10
@dbacchet You're welcome and sorry if I didn't keep in touch with you too to ask your opinion!! Good to know you are using`EnTT` and you like the feature.
Probably I should create a dedicated discussion issue to discuss about upcoming changes, so that I can concentrate all the feedbacks in the same place.
I'll do it today. Stay tuned and give me your suggestions, please. They are really precious f

[2017-09-21 07:10] skypjack opened #13 "Upcoming changes"
Here is the discussion mentioned in #10 to talk about upcoming features.
The plan is to clean up the API (some methods are simply redundant) and to make it more user-friendly if possible. Moreover, performance on multi components views should be improved significantly.

Let's make a list of changes and discuss about it:

* Remove `copy`, it's syntactic sugar for:
[code]
    `accomodate` creates th

[2017-09-21 15:41] skypjack commented on #10
@dbacchet @DJuego See #13 for a discussion about upcoming changes. Thank you.

[2017-09-21 16:10] dbacchet commented on #13
totally agree on the `copy`: for a library like this usually less is more, and utility functions can be easily placed outside of the core library, reducing the maintenance effort.
About removing template parameters from the `Registry`, that will be a __huge__ improvement, imho. Already with ~20 components the build time is in the order of seconds (on my 16 cores workstation...) and this will also

[2017-09-21 16:54] skypjack commented on #13
@dbacchet Thank you very much. If you have any suggestion of features you would like to see implemented, have a go and we can discuss them.

On branch `experimental` you can find new features implemented step by step. Currently I'd discourage you to use it for it contains only a huge clean up of stuff I had to remove before to start and performance are worse than the ones on `master`. Anyway stay

[2017-09-22 15:48] cyrant commented on #12
I prefer to avoid OOP in my code. Sort of:
[code]
As you can see, there is no difference for me.

[2017-09-22 16:59] skypjack commented on #12
Good. So, as long as performance aren't affected, you have no preferences. Thank you.
See #13 for more details on upcoming changes if you want to discuss them or give your own suggestions.

[2017-09-22 21:37] skypjack commented on #13
I think `clone` should be removed as well.
Branch `experimental` contains a work in progress registry that doesn't require anymore a compile-time list of components when declared.
Single component view is almost there in its final version. Multi component view has been adapted so that it compiles and work as expected. Anyway it's not in its final version and performance are far from being the expe

[2017-09-24 14:28] skypjack commented on #13
I think `swap` should be removed as well. It's confusing (see description above).
Branch `experimental` contains a work in progress where `sort` functionalities have been greatly improved.

[2017-09-26 05:59] skypjack commented on #13
@dbacchet Time ago you mentioned the entity version as a _wanna have feature_. Well, I plan to put it in EnTT v2.0, see the last point of the list above. ;-)

[2017-09-26 23:48] dbacchet commented on #13
great news thanks! will it still be possible to select the underlying type (`uint32_t`, `uint64_t`, etc)?

[2017-09-27 05:11] skypjack commented on #13
Yep. It's based on traits internally. Currently I defined them for `std::uint32_t` (8 bit version) and `std::uint64_t` (24 bit version). Anyway it takes a few minutes to add other traits for other types if needed.

[2017-09-27 08:17] dbacchet commented on #13
that's awesome, thanks!

[2017-10-06 15:48] skypjack commented on #13
`EnTT` v2.0 is upstream on `experimental`. Any feedback is appreciated.
I've still to update in-code documentation (I plan to use doxygen for that) and the README file. That being said, all the functionalities are there and ready to use.

If you have any suggestion for other features, this is a good time to comment.
Thank you.

[2017-10-16 21:48] skypjack commented on #13
PR #14 issued.
If everything goes right, tomorrow morning I'm merging `EnTT` v2 on `master` and deleting the `experimental` branch.
Then I'll close the ticket and I'll start documenting a few other classes I want to put in the project the next weeks.

Feedback are welcome.

[2017-10-17 06:51] dbacchet commented on #13
If you can wait a few days before merging I will test it in my codebase next Friday (10/20) and report any issue I find (I have a few deadlines before that, sorry).
If you want to go ahead and merge instead, that's fine; we can always work on master :)

[2017-10-17 07:46] skypjack commented on #13
@dbacchet Well, if you link to the tagged version, I'd merge anyway and add a new tag, so that you can easily switch between the two versions when you prefer. Test coverage is close to 100% and hopefully you shouldn't incur in severe bugs. For issues and/or questions I'm at your disposal as usual and I'll try to fix bugs as soon as possible if any.

[2017-10-17 15:51] skypjack commented on #13
Added tests to get the full coverage and fixed typos in the documentation. The API is fully documented in-code now and the API reference is also available online.
I'll merge on `master` tomorrow morning.

[2017-10-18 07:22] skypjack commented on #13
`EnTT` v2 is upstream. It's time to close the issue.
I reviewed completely the crash course to introduce all the new features. I've also fully documented the API and put it online.
Hope it works for you all guys. Any feedback is appreciated.
Thanks for your support so far.

[2017-10-18 07:22] #13 closed

[2017-10-18 14:12] DJuego opened #15 "Typo in Code Example"
Thank you for your efforts, @skypjack !!
I admit that I have not yet used your library but I am excited about its evolution.

Meanwhile I suspect there are a typo in the sample:

Where...
    auto view = ecs.view<Position, Velocity>()
Shoud be:
    auto view = **registry**.view<Position, Velocity>()

DJuego

P.S:

I'm also interested in your event bus([eventpp](https://github.com/skypjack/eventpp)

[2017-10-18 16:23] skypjack commented on #15
Good catch. I'm fixing it upstream, thank you.

---

Just my two cents: ignore both `eventpp` and the other competitors for a while.
I've already put in `EnTT` v2 a naked signal handler (see `sigh.hpp` for more details) and the next revision (v2.1.0) will be fully focused on signalling.

A brief list of what you'll have at your disposal:
* unmanaged signal handler (based on naked pointers)
* manag

[2017-10-18 16:31] skypjack commented on #15
Fixed upstream.

[2017-10-18 16:31] #15 closed

[2017-10-18 22:24] DJuego commented on #15
Yes, yes! I can wait a few weeks. Certainly, a solution like that would be perfect.
It's almost too good to be true!!

*Thanks for your dedication, @skypjack !*

DJuego

[2017-10-19 04:01] pocdn opened #16 "Version 1.0.0 versus latest 2.0.0 and more stringent component requirements?"
I had a working entt based small project using entt version 1.0.0 (Jun 2017 approx.).

I upgraded to entt 2.0.0 and had to make minor changes to my code to get it to compile;
1) header location changed from
[code]
2) simplified from
[code]
to
[code]

All compiled fine. Version 1.0.0 runs fine but version 2.0.0 fails. When version 2.0.0 ran I  saw with gdb backtrace that an assert gives false and h

[2017-10-19 06:16] skypjack commented on #16
The problem isn't the component, it's the entity.
Line `registry.hpp:320` contains an `assert`. It checks that an entity is still valid before to `assign` it a component.
You are trying to use an invalid entity with the registry, probably one you deleted before.

This kind of asserts are there to find exactly these types of errors in the client code.
Unfortunately I can't help you unless you show

[2017-10-19 06:55] skypjack commented on #16
The only thing that comes to my mind is that EnTT v2 adds the version to the entity identifier and use it to check for validity now.
If you inspect or modify the identifiers somehow or use auto generated entity identifiers, unlikely it works. The sole thing you can do with an identifier is storing it and reuse it as is later. If you store around identifiers and use to destroy entities, there are f

[2017-10-19 12:06] pocdn commented on #16
I read thru the README and thought I was all good with the code modifications I listed prior. My code style followed your benchmark.cpp code most similarly to lines 671+
[code]
Note above, I use the `ecs` label synonymous with your `resgistry`.

Yes, I will more carefully look at the README again. It's likely I missed something.  I will work on trying to get a minimal code to replicate the problem

[2017-10-19 12:16] skypjack commented on #16
Interesting. Let me review the code above. I'm at work at the moment, I'll do that in the evening.
I hope I'll back with an answer, a fix either for your code of for `EnTT`. Please, be patient.

[2017-10-19 12:29] pocdn commented on #16
Please feel no pressure from me. I am looking at this after work hours myself ... so definitely no rush or deadlines. Thank you for your help and your amazingly fast performance ecs library.

[2017-10-19 12:36] skypjack commented on #16
You're welcome. No pressure at all. I just like to help people in getting the best from `EnTT`. ;-)

I hope also you'll get rid soon of `Simple` and use signalling stuff provided with `EnTT`. I'm working on a bunch of classes to fill the gap and offer a full featured set of functionalities in that area.
Stay tuned.

[2017-10-19 12:44] pocdn commented on #16
Having signalling built into `EnTT` is a great addition. That's one of the news items that caught my eye right away made we want to fire up my old source code, compile with version 2.0.0 and then replace the signalling library with `EnTT`'s.

[2017-10-19 13:01] skypjack commented on #16
Maybe I was too hasty. I managed to reproduce the problem. Not sure it's the same you are facing, but let me verify what's wrong.

[2017-10-19 13:24] skypjack commented on #16
You found the worst bug ever. Definitely my fault. Really thank you and shame on me!!
I'm pushing the fix and creating the version 2.0.1 - give me the time to add a test so that it won't happen anymore.

[2017-10-19 14:26] skypjack commented on #16
Please test version 2.0.1, the bug should be fixed.

[2017-10-20 01:58] pocdn commented on #16
Great, version 2.0.1 is working with my code now. All runs great.

p.s. I missed an earlier question that you had of me; I am running in a single thread, no multi-threading in my simple code test case.

Thank you very much.

[2017-10-20 01:58] #16 closed

[2017-10-20 05:36] skypjack commented on #16
You are welcome.
Please, consider to star the project once you've used it successfully. Your support helps spreading it and attiring more ideas.

[2017-10-21 14:46] skypjack commented on #15
@DJuego I started pushing new stuff in `experimental`. It still lacks something, but hopefully we are along the line you were looking for. Any suggestion or request for feature is welcome, as usual!! ;-)

[2017-10-21 15:48] skypjack commented on #13
@dbacchet Have you tested it? I'm just curious to have your feedback, suggestions and requests for features if any. :-)

[2017-10-21 23:27] dbacchet commented on #13
Hi @skypjack, I made a first test and run into a slightly different behavior.
With version 1, the only requirement for a component to be usable was to be `std::move`-able, but with version 2 the `sparse_set` requires the component to have a copy assignment operator (sparse_set.hpp,line 533).
For example the following component works with ver1 but not with ver2 (it's a stripped-down version of one

[2017-10-22 04:46] dbacchet commented on #13
I updated my codebase to EnTT 2.0.1, (temporarily) adding support for the copy assignment operator to the components that didn't have it.
Everything compiles just fine, but I have many unit tests that are now failing, with a crash inside `entt::SparseSet`.
The unit tests code has not been touched wrt EnTT v1.

I've not been able yet to carve a self-contained executable to reproduce the problem, bu

[2017-10-22 07:39] skypjack commented on #13
In fact, components have not the requirement to be copy constructible or copy assignable. On the other side, they must be move constructible and move assignable because of `std::swap` in `sparse_set.hpp` line 555.
Just define your `PhysicsVehicle` as:
[code]
Or even better as:
[code]
The fact is that movement assignment operator isn't generated implicitly if you declare the move constructor. Howev

[2017-10-22 07:57] skypjack commented on #13
The second error is interesting indeed. There are a lot of tests that stress the registry, the views and thus the sparse sets. I never ran into this kind of errors. I cannot say if it's a bug of `EnTT` or client side unless we reproduce it.
Just a few hints to which to think:
* `EnTT` isn't thread safe for itself. Users must add their own controls on top of the registry if accessed from different

[2017-10-22 15:36] dbacchet commented on #13
about the need of a move assignment operator, I believe is totally reasonable.
I should have added that one in the first place regardless, so nothing to be done there, thanks!
Maybe, if you want to add in the doc that for more complex types you need to make sure to have both `MyType(MyType&&);` and `MyType& operator =(MyType&&);` defined somehow, would be great :).

About the error, it only happen

[2017-10-22 16:03] skypjack commented on #13
I've updated the documentation in `experimental` to specify what _moveable_ means in this case for more complex types. Soon I'll merge it on `master`.

About the error, no matter if it's in `EnTT` or in your code, what's important is to solve it.
Of course, if you can reproduce it, I can easily look into the issue with you. Otherwise feel free to fallback on me for questions and support.
`reverse`

[2017-10-23 04:42] dbacchet commented on #13
so while debugging the issue, I noticed something interesting.
Have a look at the following picture:
<img width="1394" alt="screen shot 2017-10-22 at 8 03 39 pm" src="https://user-images.githubusercontent.com/10245297/31872479-2cd30f3e-b771-11e7-8fae-80ac015c63fd.png">
I notices that the address of `t1` was the same of the `SparseSet` in `pools[1]`, with the effect that when I was modifying `t1` t

[2017-10-23 05:01] dbacchet opened #17 "problem with component references"
Hi @skypjack,

with EnTT 2.0.1, the reference to a component returned from calls like:
[code]
is no more valid after I add the same component to other entities, like in the following example:
[code]
I would expect `a1`, `a1_a` and `a1_b` to be referencing the same object, instead with EnTT 2.0.1 `a1_b` points to a different memory address.

With EnTT v1, the same code works; the following is the o

[2017-10-23 05:17] skypjack commented on #13
Don't worry, I spent most of the day after my son that got a fever and is still getting out of it.
I'll try to give you a solution as soon as possible. Thank you a lot for your efforts in finding a way to reproduce the bug. Really appreciated!!

[2017-10-23 06:13] skypjack commented on #17
Hi @dbacchet

Indeed, that's not exactly and the same was valid with `EnTT` v1. Let me explain what's changed between the two versions, why references aren't valid, what we can do to mitigate the problem (pros and cons) and why we can't solve it.

First of all, sparse sets and thus registry are containers. Use them how you would use containers from the standard library.
As an example an `std::vect

[2017-10-23 16:29] dbacchet commented on #17
Hi @skypjack, that makes sense.
No need to change anything (well, maybe just make it explicit in the docs). On my side that only broke "artificial" examples (the unit tests) and had no impact in real code, where references are not saved at all. I'll just make sure that the unit tests use the right paradigm, it's an easy change :)

I'm closing this issue because is not a problem in EnTT
thanks!

[2017-10-23 16:29] #17 closed

[2017-10-23 22:14] skypjack commented on #17
Good. Thank you.
So, what about `EnTT` v2? I hope you enjoy the new features.
Most of them are the results of your suggestions, you know? About the rest, I'm particularly proud of the standard vs persistent views and the design choice _pay for what you use_.
What about? Requests for changes or features your side?

[2017-10-25 20:38] skypjack commented on #15
@DJuego Signalling stuff is in `experimental` as announced.
Is it enough for your requirements? Let me know if you want to see a feature in `EnTT`.

[2017-10-25 21:08] DJuego commented on #15
Thank you for your amazing work and your genuine interest in meeting the needs of your user base, @skypjack . The best thing than can happen to a library is to have a creator as enthusiastic as you. For this reason, i choose you. :-)

Concerning your questions, my only requirements are an elegant design (simple, clear and clean), high performance and good documentation. Sadly,  i have not experien

[2017-11-13 00:20] galek opened #18 "Error in VS2015"
Hi, i have C2610 error in VS 2015 on this lines:
    /*! @brief Default copy assignment operator. @return This hashed string. */
    constexpr HashedString & operator=(const HashedString &) noexcept = default;
    /*! @brief Default move assignment operator. @return This hashed string. */
    constexpr HashedString & operator=(HashedString &&) noexcept = default;

In hashed_string.hpp.

Fix: comme

[2017-11-13 07:24] skypjack commented on #18
Facts:

* A copy/move constructor/assignment operator doesn't make much sense for args aren't literals, I'd remove them all actually.

* MSVC 2015 doesn't fully support C++14, I suspect you'll encounter several problems unfortunately. Tests use MSVC 2017 and everything works fine with it.

Is it the sole error you encountered compiling tests?

[2017-11-13 09:42] skypjack commented on #18
a727857 made it work with MSVC2017 as expected.
I cannot do much more for MSVC2015, for it's not a fully compliant C++14 compiler, I'm sorry.
Let me know if it works fine also for you. Otherwise, copy and paste the error and let's see what we can do to work around it, if possible.

[2017-11-13 15:02] skypjack opened #20 "Persistent views aren't updated correctly during a full reset"
After a full reset, persistent views contain the entities that had the components before to clear the registry.
Views aren't invalidated correctly and cannot be used anymore because of that.
Pretty rare an event, but it could happen and it's a bug.

[2017-11-14 21:48] #20 closed

[2017-11-15 06:29] skypjack commented on #18
No reply and it works with MSVC 2017 as expected. The issue on hashed string is solved and `constexpr` isn't there anymore.
I'm closing the issue. Feel free to contact me if you need more help.

[2017-11-15 06:29] #18 closed

[2017-11-18 21:34] tomsharratt opened #21 "Lua bindings"
A common requirement for game engines is scripting (with lua in my case). As this ECS (and most other) use templates you can't bind most of the important functionality into lua.

For example, how would you bind `registry.get<T>(entity);` into lua?

[2017-11-18 22:04] skypjack commented on #21
You can inherit from the registry or create a wrapper and export from and towards Lua the sole components you want to expose.
Probably the wrapper will have explicit methods like `get(CompA)`, `get(CompN)` and do on.
Lua and C++ are too much different languages to pretend to use an high performance tool directly.

[2017-11-18 23:21] #21 closed

[2017-11-18 23:26] tomsharratt commented on #21
Might not be understanding you correctly.

Are you suggesting for each component I want to expose to Lua to create a wrapper. So for a Transform component I would create `getTransformComponent()`, `assignTransformComponent(...)` and so on? I know Lua can't work with templates, that is essentially the whole problem I am facing - how to wrap/abstract the ECS in a way which ideally doesn't require a

[2017-11-18 23:37] skypjack commented on #21
Well, think about this.
If I hadn't used template, I had to write N member functions to assign components and N member functions to get them.
Fortunately, C++ supports templates and I avoided writing all that code. Lua doesn't support template.
You got it.

However, I wouldn't expose up to the transform through the scripting system.
I mean, try to reduce to a minimum the components your script use

[2017-11-21 07:54] skypjack opened #22 "Call for comments: make EnTT allocator-aware"
I was thinking about making `EnTT` allocator-aware. It's not the easiest task ever, but it could be an interesting feature.

To do that, the first thing that comes to my mind is to add an extra template parameter to the registry that is propagated down to the internal data structures if required. Moreover, I would add a `reserve` function to the registry to pre-allocate enough space for components

[2017-11-21 09:02] lessness commented on #22
First consideration: EnTT is focused on performances
Second consideration: at the same time, EnTT has a clear API.

Introducing an interface with virtual methods sounds a bit against point one (opinion based), so I would like the first approach proposed (introduce a new template parameter).
But allocators are nasty beasts (opinion based), one may want to _partially_ specialize allocations, for exa

[2017-11-21 09:20] tazio commented on #22
As a side point: std::allocator's interface was not made to encapsulate allocation algorithms, but to hide near/far pointers that existed in 1993. So if you want an allocator, you might consider an entirely different interface as well.

[2017-11-21 09:31] skypjack commented on #22
@lessness
The registry uses internally a bunch of sparse sets and allocations of storage for components boil down to them. That's why I think making the registry allocator-aware is the right choice. Otherwise we need a full redesign of `EnTT`. Do you see any other viable solution?

@tazio
Well, that's what C++ offers nowadays. One could also consider `pmr::` namespace and polymorphic allocators. H

[2017-11-21 09:37] lessness commented on #22
On second thought, not injecting the registry with the allocator struct info is possible only if you introduce a global class/object, and if the registry uses it internally to retrieve the allocators. This does not require a full redesign, but involves a lot of rewriting; I don't know whether this is an appropriate solution.

[2017-11-21 09:41] skypjack commented on #22
@lessness
Got it. Being `EnTT` a header-only library, I don't like that much the idea of pushing around global things the users are not fully aware of. However this is a viable solution, so let's put it aside and see if that's the preferred one.

[2017-11-21 09:46] lessness commented on #22
That given, I would go for injecting directly the registry.
I agree (opinion based), global objects do not smell so tasty at this point.

[2017-11-26 15:49] skypjack opened #23 "Call for comments: runtime components support"
Currently, being `EnTT` based exclusively on templates, there isn't the possibility to define components at runtime.
The main purpose would be for scripting and plugins, but who knows what other uses are out there.
See [this](https://forum.freegamedev.net/viewtopic.php?t=7661&p=74779) as an example.

I've thought to the problem and I'm ready to develop a solution that fits well with the API of `En

[2017-11-28 16:46] mattcontinisio commented on #23
As you said, I think this would be really nice to have for scripting and plugins. This would also be nice to have for the event bus as well, if possible.

[2017-11-28 17:19] dbacchet commented on #22
hi guys, sorry for the late reply.
Personal opinion here: allocators highly depend on the way you want to consume components from the systems, so I feel that should be possible to specify them at the component level (for example transforms could use an aligned chunk of memory on the stack, while mesh data a dynamic heap alloc).
Assuming that creation/destruction is much less frequent than accessin

[2017-11-28 17:24] dbacchet commented on #23
one big use case I have is supporting cross-language plugins. We expose some of the functionality of our simulation system through python, and having the possibility to define components and/or plugins in python and make the ECS aware of those would be great.

If I have to trade this with a clean API though, I would always choose a clean and minimal API!
One of the big advantage of EnTT imho is th

[2017-11-28 17:33] skypjack commented on #23
@mattcontinisio
Actually I didn't consider the signal stuff in this issue. However it makes sense to extend it to the bus and probably to the dispatcher.
I'm not sure it fits well in those classes, but I'll have a go and I'll give you a feedback as soon as possible.

[2017-11-28 17:53] skypjack commented on #23
@dbacchet
Your use case is more or less the reason for which I'm proposing this feature.
The API will be minimal and hopefully clean as usual. Something like the member functions you already have, with an extra parameter to dispatch the call to the right subsystem (either compile-time or runtime).
Probably I'll add a dedicated view for those cases where you want to use runtime components.
That's a

[2017-11-28 18:03] DJuego commented on #23
_If I have to trade this with a clean API though, I would always choose a clean and minimal API!_ ( @dbacchet )

I completely agree! High performance, clean and minimal are The Keys (IMHO). 'Elegant' too, probably.

DJuego

[2017-11-28 18:06] skypjack commented on #22
@dbacchet
So, you suggest to not use a typical `Allocator` template parameter and use instead a kind of _setter_ function template, right?

Let's discuss my proposal.

I was thinking about adding an extra template parameter like `typename Allocator = std::allocator<Entity>` to the registry. My idea was then to rebind it internally to the types of the components, of course.
Being it a stateless typ

[2017-11-28 18:08] skypjack commented on #23
@DJuego @dbacchet
You know, I'm always open to suggestions and requests. ;-)
That's also the reason for which I create _call for comments_ issues before to add new features. Your feedbacks are invaluable.

[2017-11-29 13:38] skypjack commented on #23
A possible API can be the following one:
[code]

Feedback are welcome.
@dbacchet for you are already dealing with plugins, probably you can figure out if it could work or not for you and what are the weaknesses.

[2017-12-04 15:35] skypjack commented on #23
Nevermind. `EnTT` was almost there to support runtime components and mods in general.
I added a couple of functions to the registry and I'm developing an example to show how to do that.
Unfortunately it will take a while because I'm doing it in my free time. However I feel like I'm on the right path.

[2017-12-04 15:47] DJuego commented on #23
Fantastic-fantastic news!, @skypjack! In fact the best  possible news. This Christmas i want to study your work! I am really anxious to look for some application that I can do with this very promising resource.

DJuego

[2017-12-04 21:43] skypjack commented on #23
The best part is that even mixing runtime and compile-time components in a kind of runtime view seems possible with the approach I've in mind.
I'm pretty excited actually. I really hope to be right, it would be great!!

[2017-12-09 22:13] skypjack commented on #23
Update: the example uses duktape and is pretty minimal. It's not production ready, of course but it shows how compile-time and runtime components can be mixed together. I'm actively working on it. It will take still a few days to finish and publish everything for I've been a bit busy the last weeks.

[2017-12-10 16:48] skypjack commented on #23
[Here](https://github.com/skypjack/entt/blob/master/test/mod/mod.cpp) it is.
I have still to update the documentation before to close the issue, but the example is upstream at least.

[2017-12-11 13:17] DJuego commented on #23
Surely the current master is a transition period. However...
I'll warn you about it ;-P.

When i try to build the Code Example in README I get:

[code]
DJuego

P.S: Sorry for this :-)

[2017-12-11 13:40] skypjack commented on #23
I know, appveyor just gave me a warning. I'm solving it as soon as possible, don't worry. ;-)
Thank you.

[2017-12-11 14:14] skypjack commented on #23
@DJuego It should work now. Let me know, please.

[2017-12-11 14:33] DJuego commented on #23
The thing builds now, @skypjack. 👍

DJuego

[2017-12-11 15:06] #23 closed

[2017-12-11 22:46] skypjack commented on #22
@dbacchet
As far as I can see, what you suggest is a breaking change.
The `Registry` has to accept a reference to an allocator and thus already existent code won't work anymore. Something like this:
[code]
Am I wrong?

[2017-12-11 22:52] skypjack commented on #22
@dbacchet

As far as I can see, what you suggest is a breaking change.
The `Registry` has to accept a reference to an allocator and thus already existent code won't work anymore. Something like this:
[code]
Am I wrong?

---

Furthermore, a journey along this path suggests that `EnTT` should become a real library.
I know that a header-only structure is desirable. However, we are adding too many thi

[2017-12-12 00:48] DJuego commented on #22
I am not an advanced c++ developer. And i (still) have not a real experience with EnTT. So In this moment I would not be affected by breaking changes.

I must admit i like very, very, very much the header-only feature. Simplify things a lot and it makes portabily easier.  I prefer small and perfect gems that humongous and  super-general beasts (I'm looking at you, Boost). In fact I collect those g

[2017-12-14 05:41] dbacchet commented on #22
@skypjack I was thinking about having the possibility to specify a different allocator for each component type; something on the line of an internal map type-allocator.

The API could something similar to:
[code]
defaulting to a default allocator in case the user did not specify one for the given type.

I don't consider this very high priority though; EnTT is quite fast already :)

[2017-12-15 17:58] skypjack commented on #22
@dbacchet @DJuego

It looks like C++17 and thus the standard template library offers exactly what we are discussing. It's in the namespace `pmr`.
I plan to have a go with it. Any thoughts?

[2017-12-22 03:11] mario-deluna opened #24 "Retrieve all active entities from the registry"
Correct me if im wrong, `std::vector<entity_type> available` and `std::vector<entity_type> entities`
are both private properties and there seems to be no class method in the registry to simply retrieve all active entities.

I would really love to see a way to iterate over all entities.

[code]

[2017-12-22 06:16] skypjack commented on #24
The way you suggested requires the registry to expose `begin` and `end` member functions and it's a bit misleading from my point of view.
However, [there exists something similar](https://github.com/skypjack/entt/blob/master/src/entt/entity/registry.hpp#L906):

[code]
It returns all the entities ever created.
Does it work for you?

Active entities (I think you mean `entities - available`) are expe

[2017-12-22 06:28] mario-deluna commented on #24
`each` works out perfectly.

Thank you very much.

[2017-12-22 06:28] #24 closed

[2017-12-24 03:37] mario-deluna opened #25 "Dereferencing causes data corruption"
Hello there, this issue/bug might be completely my fault due to my lack of c++ knowledge so please excuse if that is the case.

I've started to run into an issue where sometimes entities in my case bullets where spawned at the wrong position. after digging into the issue I found that my player's transformation component (position, size, rotation) was sometimes, but not always, zero.

I've built th

[2017-12-24 07:15] skypjack commented on #25
What you are doing is more or less equivalent to this:
[code]
C++ doesn't guarantee that `first` is still valid after the second `push_back`. Roughly speaking, `vec` can reallocate internally and all the references are invalidated in this case.
A call to `assign` does almost the same and has the same drawbacks.

`EnTT` gives guarantees when you work with iterators (it's better explained in the doc

[2017-12-24 07:36] mario-deluna commented on #25
Accessing a component is usually fast enough and iterating entities is amazingly fast.
Just get the component when you need it.

Im not 100% sure I understand, the `Transform` component reference is newly retrieved on every update and not stored. Only the the identifier to the main entity is stored.

How would you structure this simple example? Im currently not seeing through how I could do this d

[2017-12-24 07:37] skypjack commented on #25
And Merry Christmas, sorry!! :-)

I'm trying also to write down a few notes about `signal` to share with you.
Give me more time, for I'm out of home for a few days.

[2017-12-24 07:39] mario-deluna commented on #25
Ah wait ok if I get it right the problem is that I call assign after I retrieved the reference right?

[2017-12-24 07:39] skypjack commented on #25
The problem is that you are getting it before to assign the same component to another entity.
I'm from mobile and I cannot try it. However it should work fine if you move the `get<Transform>` somewhere after the `assign<Transform>` within `update`.

[2017-12-24 07:41] skypjack commented on #25
Exactly. Internally `EnTT` uses vectors and it undergoes their rules.
See the example in my first answer.

[2017-12-24 07:46] mario-deluna commented on #25
Great! Works perfectly.

Thank you very much for your support! :)

[2017-12-24 07:46] #25 closed

[2017-12-24 07:47] skypjack commented on #25
You are welcome. :-)

[2018-01-03 22:25] RallyTronics opened #26 "a little trouble building in VS2017"
I am trying to build the following sample program (from the readme) in VS2017 (debug x64) and get an internal compiler error, any thoughts?
[code]
Error	C1001	An internal error has occurred in the compiler

[2018-01-03 22:34] skypjack commented on #26
Please, can you format the first post? It's difficult to read as it is.
That being said, can you copy and paste the full error message? The one you posted is a bit unclear and it doesn't even specify the line in which it fails.
Thank you.

[2018-01-03 22:48] RallyTronics commented on #26
Sorry, not sure how to format it, i will figure it out.  It's just the sample application in the readme.  It says the error occurs on the line after the closing paranthese in main.

Severity	Code	Description	Project	File	Line	Suppression State
Error	C1001	An internal error has occurred in the compiler.	mt	\projects\mt\main.cpp	54
Warning	C4267	'initializing': conversion from 'size_t' to 'unsigned

[2018-01-03 22:51] RallyTronics commented on #26
formatted the first post

[2018-01-03 22:55] DJuego commented on #26
Strange. I can build without problems the code sample: Windows 10 x64 - Visual Studio 2017 -Version 15.5.2- (debug and release).

@RallyTronics . You are using the last commit. Right?

The code:

[code]
The output:

[code]

[2018-01-03 22:59] RallyTronics commented on #26
Hmmm, i grabbed it a few hours ago. I will mess with it some more and see if I can figure out what's going on.  Here's my Build output:
[code]

[2018-01-03 23:00] RallyTronics commented on #26
I am using 15.5.2 as well very strange.

[2018-01-04 05:08] RallyTronics commented on #26
Trying a different PC with a fresh VS install I get the same error it has to do with this line:

[code]

still digging

[2018-01-04 09:26] skypjack commented on #26
An ICE is a crash of the compiler. It's hard to solve usually. All you can do is working around it somehow.
Unfortunately I cannot reproduce it and appveyor works just fine with VS2017, so... I don't know how to help you. :-(

[2018-01-04 10:33] DJuego commented on #26
@RallyTronics

Well In this link you can get my proyect: [link](https://mega.nz/#!ckonlIbK!itFf7s7Tal06lv2UuKZXutn-7e_StvRYRmntSoGFyic)- Maybe this will give you some clue.

Probably you have to update the paths.

This proyect is under "p:\Mis-Proyectos\Personal\" path. I avoid long paths with spaces and limiting myself to basic alphabet characters and numbers.

You can open the proyect .sln in \e

[2018-01-04 16:19] RallyTronics commented on #26
Thanks for the project file, that did the trick.  For entt to compile the **Conformance mode** property in **Configuration Properties->C/C++->Language** has to be set to **No** .   Can you set yours to **Yes** and see if you can repeat my issue?

[2018-01-04 16:45] DJuego commented on #26
Yes. I can reproduce your issue.   The **Conformance mode** is set to **No** by default (for me).

[code]

[2018-01-04 16:51] skypjack commented on #26
Good. Well, the code is compliant with the new standards. GCC and clang help us to say that.
Unfortunately, the ICE is due to the compiler used by VS, so you should point it out on their bug report.
Fortunately one can solve it. Let's see how long it will take to fix the compiler.

Thank you both for the help in understanding the problem.
We can close the issue from my point of view, nothing to do

[2018-01-04 18:06] dbacchet opened #27 "Save/Restore"
Hi @skypjack ,
I've been disconnected for a few weeks, and when today I got back, had a look at the code, well... wow! already version 2.4.1 and a lot of new features (and most of those I already had custom-implemented because of need, like the Actor class)!

I have a side question and a possible feature request: how difficult would it be to implement a save/restore functionality in the ECS?
In th

[2018-01-04 18:09] dbacchet commented on #27
I just realized I don't have the email in my public GitHub profile... Just sent you an email with my contact info, in case you're interested. Thx!

[2018-01-04 19:28] DJuego opened #28 "Guidelines"
The current ECS guideline  offers a starting point with samples and user cases. I definitely think it would be a good idea **to create guidelines** for other EnTT features (signals, event bus, scheduler, event dispatcher, ... similar to the current ECS guideline (registry and views).

That would greatly improve the appeal of the library for newcomers.
Of course, a list of documented methods is ess

[2018-01-04 20:22] mario-deluna opened #29 "VS2017 parsing issue"
Today is a busy day, I kind of feel sorry opening another issue.

I'm also running into an Issue with VS2017, until know I've been building with gcc and XCode. I've spent the last few days fixing issues to be able to run my application on WIndows. The last issue I was not able to resolve looks like a parsing issue in the `view.hpp`.

It's weird because I can see that the `entt` tests run successfu

[2018-01-04 21:12] skypjack commented on #29
Did you see #26?
It seems that VS2017 gets in trouble if you turn on the Conformance mode. Is this the case?
I'm asking just to eliminate an option.

[2018-01-04 21:15] skypjack commented on #28
It makes sense. Does it mean that you started using the new features? :-)

[2018-01-04 21:17] mario-deluna commented on #29
I don't use VS very often, that option seems to be missing, or am I missing something?

![properties](https://user-images.githubusercontent.com/956212/34584655-e81900e0-f19c-11e7-8407-2bb7c3f697cb.png)

[2018-01-04 21:27] skypjack commented on #27
Well, this isn't the first time someone asks me of this feature (@morbo84? :-)).
There are chances we can implement it, but there are also some problems to face I'm not sure you spotted yet.

Let's discuss it a bit. Do you already have in mind an API?

[2018-01-04 21:28] skypjack commented on #29
I don't use VS at all!! :-D
@Djuego can you help us?

[2018-01-04 21:32] skypjack commented on #29
@mario-deluna Meanwhile, can you create a minimal example to reproduce the error?
This way I can add it to the test suite and have a try with appveyor.
Unless I don't know how to help you, for unfortunately I don't know how to reproduce the error so far.

[2018-01-04 21:54] mario-deluna commented on #29
Hmm, I was able to run the tests with VS2017. So I guess the issue has to be related to how I generate the `.sln` file with cmake, or I messed something up in the code. It runs completely fine on mac.

I will continue digging into this and keep you updated I have this is somehow related to entt in the end.

[2018-01-04 21:57] skypjack commented on #27
In order to give you a grasp of the main issue, consider the following snippet:

    if(time() < noon) {
        auto entity = registry.create();
        registry.assign<Foo>(entity);
        registry.assign<Bar>(entity);
    } else {
        auto entity = registry.create();
        registry.assign<Bar>(entity);
        registry.assign<Foo>(entity);
    }

    registry.serialize();

Since when I t

[2018-01-04 22:09] skypjack commented on #29
Ok, good, thank you.
Please, keep updated the issue. I'm closing it in a week in case of no feedbacks from you.
Can it work for you?

[2018-01-04 22:23] mario-deluna commented on #29
I just solved it, but i honestly don't understand it. at all...

Somehow changing the order of the header file includes in SpriteDrawer solved the issue for me. I really don't get it. They are currently not connected at all... I guess I need some sleep.

Thanks. :)

[2018-01-04 22:23] #29 closed

[2018-01-06 06:26] dbacchet commented on #27
would it make sense to have some API that optionally allow to register types beforehand, such that the order is defined and does not change?
I was thinking about something like:

[code]

And maybe only save/restore the entity types that have been explicitly declared. Could it make sense to you?

For the save/restore API itself, in the past I implemented either something like this:
[code]
where the

[2018-01-06 09:35] skypjack commented on #27
What about the format? Plain bytes, json, XML, custom, whatever?
Probably it would be good to provide different serializers to let the user picks up the preferred one.

Also, POD types are pretty easy to serialize, complex ones usually are not.
What about?

I can try to define something in these days probably.

[2018-01-06 16:18] dbacchet commented on #27
most of the components we use are POD, but some are more complex and dynamic. If it will be possible to specialize the serialization/deserialization functions, it should work fine.

What about the rest of the registry state (number of entities, valid IDs, etc)?

[2018-01-06 16:26] dbacchet commented on #22
C++17 will not work for me (using C++14 is already pushing the boundaries of the compilers I have to support, unfortunately...) for a while.

[2018-01-06 16:31] skypjack commented on #27
Uhm... Honestly I thought creating a new set of entities from scratch when unserializing would have been fine.
I mine, does it make sense to keep the same entities with the same versions?
Usually, all my systems work by querying the registry and constructing their internal state from what they find there.

[2018-01-09 21:35] skypjack commented on #28
Started working on it on the `doc` branch. It will take a while, I'm a bit busy.
If you want/can kindly review the readme file it would help.

[2018-01-09 22:35] DJuego commented on #28
Amazing! Thank you very much, @skypjack !
It seems that it will be a really comprehensive README!!  Sincerely,  I'm really eager to read it! I admit it!
Tomorrow i will try to read the future README calmly.

Thanks again!

[2018-01-09 22:58] skypjack commented on #28
Keep your time @DJuego
I added only a bunch of TODO and a couple of new sections so far. ;-)

[2018-01-11 03:15] reworks opened #30 "VS2017 15.5.3 compilation error when using views (C++17)"
Getting a compilation error when using views with entt (commit 9761b6e) in sparse_set.hpp

Error	C2664	'void std::swap(std::exception_ptr &,std::exception_ptr &) noexcept': cannot convert argument 1 from '<COMPONENT_NAME>' to 'std::exception_ptr &' at sparse_set.hpp line 621
with <COMPONENT_NAME> the name of a component class.

entt::Entity is just
`using Entity = std::uint32_t`
one line above
`us

[2018-01-11 07:31] skypjack commented on #30
It's not that easy to investigate an issue that involves your components and for which I don't have a minimal example to reproduce the error.

Can you provide it?
Otherwise I must consider it a client error.

The way you wrote it, the issue is invalid and I'm closing it in a few hours.
I'm sorry.

[2018-01-11 08:05] skypjack commented on #30
Honestly, look at this:

I'm not that sure why it's trying to use  `std::swap(std::exception_ptr &,std::exception_ptr &)` instead of `std::swap(TransformComponent &, TransformComponent &)`...
Have you tried to compile your code with GCC or clang too?

[2018-01-11 08:10] skypjack commented on #30
Got it. Look here: http://en.cppreference.com/w/cpp/algorithm/swap

From the error, we see that you are trying to use the `noexcept` version of `std::swap`:

void swap( T& a, T& b ) noexcept(/* ... */);

The link above says that since C++17:

Is your `TransformComponent` move assignable and move constructible?
I'm tempted to say no. Can you paste here its definition?
It looks definitely an error i

[2018-01-11 23:30] reworks commented on #30
Woops. I fixed it. Thanks for the help.

Sorry for the bother.

[2018-01-11 23:30] #30 closed

[2018-01-11 23:38] dbacchet commented on #27
one thing that is probably needed, is to have consistent ID when the simulation is restored.
For example if the ID of an entity had the internal value 0x1234 when I save the state, should have the same value after has been restored.
In many high-level objects I store the entity that contains the data, and if the ID value changes, that link is broken. The `Actor` class does the same in EnTT 2.4.1,

[2018-01-12 06:04] skypjack commented on #30
You're welcome.

[2018-01-12 06:18] skypjack commented on #27
So, the entity number along with it's version, right?
I must admit that it makes sense if you create a snapshot of the registry plus its surrounding environment. This is a kind of drawback of opaque identifiers.
Good catch.

[2018-01-12 10:13] mario-deluna commented on #27
I also think having consistent IDs is important, I don't know how you would build a serialisable attachment system for example otherwise.

[2018-01-12 12:44] skypjack commented on #27
@mario-deluna

Can you elaborate a bit more? I'm interested in the argument. Thank you. :-)

[2018-01-12 12:57] mario-deluna commented on #27
Let's say I have a transformation component for joints/bones now I want to tell that component to who he is attached to. From my point of view, the simplest solution is to store the parent's entity id in that component. Then any system that needs the absolut position can simply check if the parent's entity is still valid and hop up the tree.

If the ids are not persistent this would not work from

[2018-01-12 13:03] skypjack commented on #27
@dbacchet @mario-deluna

Options I see so far are below:

- Save separately the list of entities in use, the list of available entities and then the list of components, each one along with the entity to which it is bound. Drawback: the entity identifier is repeated a lot of times (as an example, if an entity has 30 components, you have the id 31 times in the file) and it wastes space. Moreover sav

[2018-01-13 06:34] reworks opened #31 "[Request] Retrieve multiple components at once from entity."
Hi,
I was wondering if a method like
`registery.get<ComponentA, ComponentB>(entity);`
could be implemented?

The idea being you can retrieve a set of components from an entity instead of just one.
Something like:

[code]

Unless this can be done already with views? But I didn't see a way to get a view of only one entity.

[2018-01-13 08:43] skypjack commented on #31
It can be implemented, but it won't be in the registry.
The policy so far has been _less is better_.
Moreover the prototype is far from the API of the rest of the library and we should find at least something more adherent.

You can implement it as an external method with something like this:

[code]

Or as an extension of the registry itself, something like this:

[code]

Let's see for 24h if it'

[2018-01-13 08:58] skypjack commented on #31
Note also that, as a rule of thumb, if we add something similar to the registry, views should be updated as well for consistency.
`EnTT` has a strictly defined API on which I spent a lot of time and I don't want to break it any time soon if possible.

[2018-01-13 09:03] reworks commented on #31
The prototype was more pseudocode than actual implementation. I didn't want to make a request without at least putting down something.

I'm still a bit new to variadic arguments and I didn't realise you could call functions like that.

On one hand, having it in the library would save users from having to inherit and create their own registry.
On the other, if your inheriting the registry anyway, i

[2018-01-13 10:12] skypjack commented on #31
Actually views return you all the components at once (`each`) or one at the time (`get`). There is no way to get only part of the components, even though the need arises.

[2018-01-13 20:56] dbacchet commented on #27
anyone of those solutions could work for me; the internal format is not exposed directly, so whatever is more convenient on your side.
Being cache friendly is probably not that important (imho), because the operation is not supposed to be done every frame, at least in my use case.

What's the signature for the functions that the user has to implement to serialize/deserialize custom data? already s

[2018-01-13 21:03] skypjack commented on #27
The second solution seems the most appropriate to let users specialize serialization. In that case, it would be something like this probably:

    void serialize (Stream &stream, entity_type entity, bool in_use, const Comp &component);

Where `stream` offers the (let me say) C++ way to store bytes, that is:

    Stream & write(char *, size);

Could it work for you?

[2018-01-13 23:34] skypjack commented on #31
See 6040f8f for more details. Hope it works fine for you.

[2018-01-13 23:34] #31 closed

[2018-01-14 00:28] dbacchet commented on #27
seems reasonable to me.
I still don't get why the first `serialize` is not just the internal function that then calls `serialize(stream, component)`, but for sure is not a problem to implement that signature

[2018-01-16 02:33] bjadamson opened #32 "Expose size() member for View class?"
Hello, I just started to use this library and have a simple question. I would like to assert at runtime there is only one entity in my registry with a certain component. To do this, I would like to write the following statement
`assert(1 == view.size());`

At this point I found there is no size() member on a View.  It has a [size type](https://github.com/skypjack/entt/blob/master/src/entt/entity/v

[2018-01-16 06:19] skypjack commented on #32
For a single component, `size` is available both on views and on the registry.
In other terms, these are both valid:

    registry.view<Component>().size()
    registry.size<Component>()

`size` is available only for single component standard views and persistent views actually.
On the other side, it's not available on multi component standard views.

The only way to know how many entities are in

[2018-01-16 06:25] #32 closed

[2018-01-16 10:42] skypjack commented on #32
Just a side note.
If you want to assert it on a multi component standard view, I'd suggest either to put a snippet that count the entities in a separate function and use it or to introduce a new component to tag your entities and thus solve the problem somehow differently.
Honestly I never had such an issue using `EnTT`, so probably you can rethink a bit your design to work around it?

[2018-01-26 11:20] tomsharratt opened #33 "Resource loader - function does not take 0 arguments."
Having this error when trying to use the resource loader.

Thought it was my code to begin with but I took a copy of the example loader in comments:

[code]

And I try and use it:

[code]

I get the compile time error of `C2660 'MyLoader::load': function does not take 0 arguments`

[2018-01-26 11:24] skypjack commented on #33
Do you mean the `doc` branch? It's a work in progress, it contains errors probably.
I would say that the example should be either:
[code]
Or:
[code]
Does it solve your issue? If yes, I'm updating the documentation accordingly.

[2018-01-26 11:30] skypjack commented on #33
Wait a moment. Resource loader isn't documented yet.
Where did you get the example code?

[2018-01-26 11:49] tomsharratt commented on #33
Example I found here: https://github.com/skypjack/entt/blob/master/src/entt/resource/loader.hpp#L22-L33

[2018-01-26 11:51] tomsharratt commented on #33
On second thoughts, I think that example is fine, but doesn't show how to call it. I didn't realize I needed to provide an extra parameter when calling.

My bad. It isn't incorrect, just a bit confusing perhaps?

Once everything is documented thought that should be fine.

[2018-01-26 11:56] skypjack commented on #33
Yeah, I got it. Well, I'm documenting everything on branch `doc`.
It will take a while for I'm a bit busy, but you'll find there full examples sooner or later.
Please, close the issue if it's solved.

[2018-01-26 11:58] tomsharratt commented on #33
I do feel like the resource_id should be passed through to the loader though ([here](https://github.com/skypjack/entt/blob/master/src/entt/resource/cache.hpp#L101)).

[2018-01-26 12:10] #33 closed

[2018-01-26 12:40] skypjack commented on #33
Actually I never had the need to access the resource identifier.
I mean, I'm using it with something like this in a project of mine:

    textureCache.load<AssetTextureLoader>("bt/empty", "png/gui/bt_empty.png", renderer);

From the point of view of the loader, the filename and the renderer are enough to load the resource.
Then I can get it as `textureCache.handle("bt/empty")` and that's all.

I d

[2018-01-26 14:53] tomsharratt commented on #33
I personally don't like the idea of having file paths hard-coded.

My example is a bit simplified but gives the general idea.

In my asset pipeline I have the ability to give resources names (e.g "bt/empty") and then it will add it to a 'manifest' file. For example: `43924=/path/to/asset/bt_empty.png` (assuming bt/empty is hashed to 43924).

This manifest is loaded at the start into a map so the l

[2018-01-26 15:01] skypjack commented on #33
Interesting. A minimal example would help indeed and I'd be glad to try it too. :-)
Please, if you find the time to go a bit deeper and provide me with more details, it would be appreciated.

[2018-01-28 17:39] tomsharratt opened #34 "Runtime hashed string?"
Would be useful to have a run-time hashed string constructor. I already have this requirement and currently just have a copy of the hash function used. Obviously, this is a maintenance risk if you were to ever change that hashing function.

EDIT: To clarify, I am aware that if I have a char array with a predetermined size e.g `char name[32]` I can construct a HashedString at run-time but It would

[2018-01-28 18:10] skypjack commented on #34
Doesn't it work by doing `HashedString hs{str.c_str()};`?

[2018-01-28 18:34] tomsharratt commented on #34
Interesting, in my use it isn't working but when I try exactly what you suggest it does.

I have a function `entt::ResourceHandle<Resource> get(resource_id id)` resource_id is defined as `using resource_id = entt::HashedString;` but when I call the get function with `str.c_str()` it doesn't work. I get: `cannot convert argument 1 from const char * to entt::HashedString`

[2018-01-28 19:45] skypjack commented on #34
Constructor from `const char *` is `explicit`. This helps to promote the `constexpr` constructor.
On the other side, implicit conversions from `const char *` to `HashedString` are not allowed.

All what you have to do to work around it is this:

    get(resource_id{str.c_str()});

[2018-01-28 20:03] tomsharratt commented on #34
Yes it does, that is fine. Thank you.

[2018-01-28 20:03] #34 closed

[2018-01-28 20:27] skypjack commented on #34
You're welcome. Hope you like `EnTT`.

[2018-01-31 10:56] skypjack opened #35 "Call for comments: get rid of single instance components (aka tags)"
I plan to get rid of single instance components. It is not a final decision yet, but I'm taking it seriously into consideration.

The reason is that they are useful sometimes (usually because of a design flaw in the client indeed), but one can easily work around the lack at application level.
As an example, in case `EnTT` was allocation-aware, a proper _allocator_ that asserts on the second assign

[2018-01-31 11:30] reworks commented on #35
I was using it because it was convenient for things like getting a CameraComponent without a view.

I should probably be doing this another way though.

Personally, I think getting serialization at the cost of tags is a good trade off.

[2018-01-31 11:33] mario-deluna commented on #35
To be honest I think they are very convenient. Im building a game, not a framework so the my code is not very extendable by its nature. What would be the alternative? Because when EnTT gets rid of tags and there is no easy migration I would be stuck with the current version.

[2018-01-31 11:40] skypjack commented on #35
@mario-deluna
Tags are components at the end of the day.
Consider this:
[code]
You can access it later as:
[code]
So far, so good. Let's see how you would do that with components:
[code]
Almost the same indeed. Iteration becomes:
[code]
The sole difference is that they are no longer guaranteed to be _single instance components_. But you can easily use a component in place of a tag.
Am I missing so

[2018-01-31 11:49] mario-deluna commented on #35
So at the core tags are nothing more than components, so there would be also no performance loss?
Would it be a bad idea to then implement a helper like `firstAttachee` which directly returns the entity identifier? That would allow keeping the migration very simple without having to wrap everything in an `each` iteration.

[2018-01-31 13:56] skypjack commented on #35
They are not exactly the same thing under the hood, but the change won't introduce any performance hit.

Actually, we can probably keep the same interface and map it on a sparse set as we do for the components.
Custom allocators then will force the requirement for a _single instance_ sooner or later.

[2018-01-31 15:34] skypjack commented on #35
@mario-deluna I confirm you that we can keep intact the API and map everything to the same data structures under the hood.
The sole penalty in which we can incur is in terms of memory usage, because this way vectors are used also for tags. How vectors allocate is implementation defined, bit you can control it somehow through a call to `reserve`.
An allocator-aware `EnTT` will solve the problem soo

[2018-01-31 16:29] dbacchet commented on #35
not a big deal for me if you want to deprecate them or introduce some small performance hit on tags

[2018-01-31 16:49] skypjack commented on #35
Ok, so, the other way around is to find a good idea to serialize them. :-D
Anyone that comes up with a solution?

The problem is that I'd like to have an API like this to serialize things:
[code]
However it doesn't work because tags aren't considered at all.
What would work is something like this:
[code]
Where `ListType` is a fake class the aim of which is only to (uhu) _list tyeps_.
Pretty ugly,

[2018-01-31 18:48] skypjack commented on #27
I'm actively working on this.
Just a question (probably the last one).

I plan to keep intact the versions of the entities that are serialized.
However, consider this case:

* I have a registry on which I registered three types of components `T`, `U` and `V`

* Entity `E4` has been destroyed and it's available for use (that is it's candidate to be returned from the next call to `create`)

* Entity

[2018-01-31 19:43] DJuego commented on #35
Hi! So far I've only played with EnTT. So my opinion must weigh less. Besides I **know** that all of you are better programmers than me.  However, I have been asked for opinion and I will give my humble opinion: From what I can understand;

a) Deprecating/removing the feature does not affect the performance. True?

b) Deprecating/removing the feature provides a lighter and simpler design, it reduc

[2018-01-31 20:13] skypjack commented on #35
@DJuego

a) Well, removing features doesn't affect performance of other features usually, right.

b) Yes and no. I mean, tags are managed with their own dedicated data structures because they allow types with data members. This introduced a bit of complexity, of course. By getting rid of them or allowing only empty types would greatly simplify things.

c) Serialization for sure, but it will be eas

[2018-01-31 21:16] skypjack commented on #35
[Here](https://gamedev.stackexchange.com/questions/77883/modeling-singletons-in-an-entity-component-system) is an interesting topic on SO about this _problem_.

[2018-02-01 22:13] skypjack commented on #35
I'm closing the issue for it's clear that single instance components are a desiderata.
I'm doing my best to keep them onboard.

[2018-02-01 22:13] #35 closed

[2018-02-02 06:13] dbacchet commented on #27
question: what's the use case of serializing only a subset of the available components?

to answer your question, if I correctly understood how it works, I believe you should save also the internal version of the destroyed entities.

Am I correct to say that only if you do that you can guarantee complete determinism?
An example to clarify the scenario:
1. I run the game/sim for a while, and decide

[2018-02-02 07:22] skypjack commented on #27
A lot of games allow to save only when the player reaches some _safe zones_ (as an example, I remember Resident Evil on PlayStation used this technique).
In this case, there is no benefit in serializing meshes or whatever. All what you want is probably to store player state, its inventory, the safe zone he reached and a few other things.

Yes and no.
Order doesn't depend on destroyed entities if y

[2018-02-02 12:31] skypjack commented on #27
Wait a moment. You mean that at bullet 5 the `restore` function destroy the `N` entities you created at point 4?
In this case, it's enough to clear the registry before to restore things. Isn't it?

[2018-02-02 15:05] dbacchet commented on #27
I think there are 2 things that need to be implemented. Serialization/Deserialzation of at the component level and Save/Restore at the simulation/game level.
They have different use cases and require different level of user awareness.

To your example of saving a part of the game at specific location: that for me belongs to the first case, where you only need to save _a subset of the data_ (=compo

[2018-02-02 15:18] skypjack commented on #27
Yep, definitely. Thank you very much. Now it's clear what you need. ;-)
Stay tuned. I'll push a dedicated branch soon with the first version of the save/restore functionality.
I'll write also a bunch of tests. However, if you can test it and give me a feedback, it would be appreciated. ;-)

[2018-02-02 16:52] dbacchet commented on #27
I will and I will try to break it writing even more tests :) I believe it's the minimum I can do, given all the efforts you're putting into this

[2018-02-06 10:15] AndrzejKozik commented on #28
Hey! First, thanks for sharing and maintaining this great software! I'm successfully using EnTT in my game programming course.

I need however an opinions of other users: While it is clear how to use EnTT in singleplayer, how do You use EnTT in multiplayer? If You create new entity on server and send appropriate event to (some) clients, how You manage entity indexing on clients?

I use either pool

[2018-02-06 10:39] skypjack commented on #28
Hi @AndrzejKozik thank you for using `EnTT` in your course!! It's amazing.
If you plan to publish something online (slides or whatever) I'd be glad to link them in the README.
And don't forget to start the project!! It helps to spread it even more.

I'm pretty sure #27 will help you a lot with this (once closed at least). It will give you the chance to _serialize_ a bunch of components and entitie

[2018-02-06 10:43] skypjack opened #36 "Who is using EnTT out there?"
If you are using `EnTT` in a real world project, I want to let you know that there exists a [dedicate section](https://github.com/skypjack/entt/wiki/EnTT-in-Action) in the wiki where I'd be glad to add a link for you.
Feel free to add a comment to this issue or get in touch with me privately.

[2018-02-07 16:36] skypjack commented on #27
Let's discuss about the `snapshot` branch.
I'm developing it for I need it in a project of mine and it must be considered still a work in progress, but it gives a grasp of the final API.
Mostly _Cereal C++_ oriented, for I liked its API. What about?

[2018-02-08 03:13] jaspercb opened #37 "Heap corruption if destroying entity with component containing unordered_set"
Was playing around with entt for a project and started getting segfaults immediately after/during destroying entities. I ended up isolating the problem in the following code segment. Switching the unordered set to a vector seems to fix the problem and is my local band-aid, but I just wanted to give a heads-up that the heap seems to get thoroughly thrashed if components contain unordered sets - lik

[2018-02-08 07:38] skypjack commented on #37
Is your snippet enough to reproduce the error?
How can I observe that _it ruins the heap_? I mean, does it crash? What else otherwise?

The code you posted looks perfectly fine. However, if it's enough to reproduce the error, it's almost solved.

[2018-02-08 09:20] skypjack commented on #37
Ok, nevermind, found it. Pretty interesting indeed.

Now I'm short in time. I'll put down all the details in a comment later.
Of course, the issue will be fixed upstream soon.
Thanks to @morbo84 that helped me to investigate the problem.

Thank you also for pointing it out.

[2018-02-08 10:26] skypjack commented on #37
The problem is due to the fact that a `destroy` could perform a self assignment on components to reduce the number of operations.
It works fine as long as your components are trivial, even if the standard doesn't give you much guarantees actually. On the other side, it's all the way wrong when it comes to work with classes from the standard template library (as an example an `std::unordered_set`).

[2018-02-08 10:47] skypjack commented on #37
To be clear, the issue can be reproduced with a shorter snippet:

    entt::DefaultRegistry registry;
    auto entity = registry.create();
    registry.assign<std::unordered_set<int>>(entity).insert(42);
    registry.destroy(entity);

[2018-02-08 11:41] #37 closed

[2018-02-08 14:02] skypjack commented on #37
Fixed upstream. See v2.4.2 for more details.
Thanks once more to @morbo84 for the help.

[2018-02-08 14:14] skypjack commented on #37
Another test done on the underlying data structures, probably better than testing the registry:
[code]
I'll push it with the `snapshot` branch. Until then, the one upstream does the job pretty well.

[2018-02-09 20:18] skypjack commented on #27
@dbacchet the _progressive_ part contains a bug (my fault), but the _snapshot_ part is almost _ready to be judged.
Whenever you want (and you find the time to do that), feel free to leave here your comments. ;-)

[2018-02-09 23:09] skypjack commented on #27
So far so good. I have yet to document it, but I'm tempted to say that _it works as intended_. :-)
I'll try to write a few notes in the README as soon as possible. In the meantime, tests and comments are welcome as usual.
Thank you all.

[2018-02-10 00:12] dbacchet commented on #27
that's fantastic news. I'll spend some time experimenting during the weekend!

[2018-02-11 20:14] UnoYakshi commented on #36
Making ECS plug-in for [Unreal Engine 4](https://www.unrealengine.com/en-US/blog). Here's the link to the [thread](https://forums.unrealengine.com/community/work-in-progress/1423789-entity-component-system-ecs-for-ue4).
For the start, I've decided to use `EnTT` for the number of reasons:

- most of the popular ECS C++ implementations (like Artemis, EntityX, Anax) were updated 1-2 years ago, while

[2018-02-11 21:17] skypjack commented on #36
Awesome! Thank you for being the first on this thread and with such a good project.

Feel free to contact me whenever you want either on GitHub or by mail. Feedback, requests for new features, bug reports, PRs, whatever... everything is welcome! ;-)

Do you plan to make the project open source? Is there already a link?

[2018-02-11 22:03] UnoYakshi commented on #36
@skypjack, I'm not sure if it will be open-source (still thinking), however, I want it to be available for any indie-developer.
For now it's in private repo, just have started to integrate.

And I must say I'm a new one in ECS, so I'll play with it firstly.

[2018-02-11 22:11] skypjack commented on #36
Good. I am at your disposal if you need help, do not hesitate to contact me.

I'm not sure about the wording to use to mention your project in the readme. If you have any advice, please let me know.

[2018-02-11 22:25] UnoYakshi commented on #36
@skypjack, I think something like _EnTT-UE4-integration plug-in_ will be sufficient.

[2018-02-12 18:29] skypjack commented on #27
Updated the readme file with a dedicated section (still to be reviewed, feedback are welcome).
I have still to write documentation for a couple of classes, but I'm almost ready to merge with master and release it.

Any comment so far?

[2018-02-13 21:30] skypjack commented on #27
Everything is finally documented. The `snapshot` branch contains also an example of use with Cereal C++ as an archive.
From my point of view, the job is done. I'll fix bugs if any, but I'm ready to merge it on `master`.
I'm going to merge it in 24/48 hours if no critical errors come out in the meantime.

I hope it works fine for you and fits your needs, guys. Enjoy. :-)

[2018-02-14 16:45] nextdimension opened #39 "Error Decay_t cant build."
never mind

[2018-02-14 16:54] #39 closed

[2018-02-14 17:01] skypjack commented on #39
A _lightning issue_ at least. :-)
I hope `EnTT` works fine for you. ;-)

[2018-02-15 07:52] skypjack commented on #22
I added the request to the TODO file. I'm closing the issue because I've all the information I need to start working on it sooner or later.
Making `EnTT` allocator-aware is a long term task at the moment. I don't really need it actually for my projects, but it's something I'd like to do for the future.
So, stay tuned, a day in the future I'll work on it for sure!! :-)

[2018-02-15 07:52] #22 closed

[2018-02-16 06:57] skypjack commented on #36
Well, it looks like people don't like to see their projects and names put in a readme file.
It makes sense indeed. Nevermind.
I'm closing the ticket.

[2018-02-16 07:02] skypjack commented on #28
@DJuego
I'm almost there to finish.
I've still to document the resource part and one class from the signal part. However, if you want to start reading it and give me a feedback to improve the documentation, it would be appreciated.
Thank you.

[2018-02-17 00:28] DJuego commented on #28
Yes, @skypjack !. I have followed your slow but relentless progress with anticipation. I know it can be a hard and ungrateful job.  I am very grateful to you for your involvement.

 Although I have problems with my schedule at this moment,I will try to take some time for a complete first reading  this weekend.  My feedback will be limited because my English and C++ knowledge is limited but I will

[2018-02-18 14:14] skypjack opened #40 "Call for comments: fewer allocations, faster destroy, slower each"
A lighting _call for comments_ about a change I'm working on.
The idea is to get rid of the `available` vector in the registry and replace it with an identifier that acts as an entry point of an implicit _freelist_ within the `entities` vector.

Put aside the details of the internal changes that are probably not so appealing, these are the benefits:
* Fewer allocations for obvious reasons.
* The `

[2018-02-18 14:20] skypjack commented on #27
@dbacchet
Because of #40, this change cannot be considered _ready to merge_ anymore.
However it will take a few days to be ready again, don't worry. ;-)

[2018-02-18 17:35] dbacchet commented on #40
does it mean that the `entities` vector is not tightly packed? Not an issue at all, just want to understand.
Is it gonna be something similar to http://bitsquid.blogspot.com/2011/09/managing-decoupling-part-4-id-lookup.html ?
I implemented a similar lookup table for my frameworks and the performance and level of control on the memory was totally worth it.

[2018-02-18 22:36] skypjack commented on #40
Here it is (7baf608). Unless someone gives me a good reason not to merge it with `master`, I'll do it tomorrow.

Affected functions:
* `create` (creating 10M entities: 0.0388s -> 0.0423s)
* `destroy` (destroying 10M entities: 0.0828s -> 0.0221s)

`Registry::each` has been slightly affected, but I've not benchmarks for it. However, the performance hit is probably minimal and I prefer a faster `dest

[2018-02-19 00:09] DJuego commented on #28
Hi. @skypjack

I have already made my first complete reading. Maybe you abuse too much of passive sentences ...:-D But your English is infinitely better than mine. And the text is quite understandable. Congratulations!

I attached an image with my first "review" of the text. I have deep gaps about the content, but it's basically because I've never worked with these patterns. I'm pretty sure I'll d

[2018-02-19 05:54] reworks commented on #40
Looks like a nice bit of extra performance. Thanks :)

[2018-02-19 06:35] skypjack commented on #40
@reworks
I tried to figure out why in `EnTT` everything was much faster than with other well known ECS while the `destroy` was so slower.
Moreover I focused on the `available` vector because it looked to me like I was wasting memory for no benefits and I guessed how to get rid of it.   Fortunately both the answers where in the same place. :-)

[2018-02-19 18:35] dbacchet commented on #27
Hi @skypjack,
I started adding some more unit tests for the save/restore functionality and I ran into a (possible) bug/problem.

I created a gtest with multiple snapshots and restore points, where I also evolve the state and create/destroy entities in between.
It mostly works as expected, but I got an assertion when trying  to restore the second snapshot on the same destination registry:
[code]

I

[2018-02-19 18:50] skypjack commented on #27
I knew sooner or later I had to blame myself for the wording used to name that function!!

I had only a glance at your code from the mobile app, but I'd say that the _problem_ is within your `entt_restore` function.
Unfortunately (or fortunately, it depends from the point you look at it) `registry.reset()` doesn't work as you expect. It doesn't trashes the content of a registry. Instead it destroy

[2018-02-19 19:11] dbacchet commented on #27
that works, thanks.
I will add a few more tests and create the PR soon :)

Question/request: since it possible to detect that the user is trying to do a full restore, can the registry be "reset" (i.e. set in a state that allows the restore) automatically?

[2018-02-19 19:57] skypjack commented on #27
The sole drawback I see is that one can happily trash all the data in a registry without even being notified. :-)
The assert is a way to say - _ehy, you are going to mess things up_.
However, you know: you asked it, you rule on it. Do you prefer a silent reset during a restore?

[2018-02-20 02:51] dbacchet commented on #27
yes please. Either that or an explicit return flag that says the restore failed. If for some reasons `assert`s are disabled (like in a release build) I feel it's easy not to detect the error. Not a big deal though, because at the first run with assertions enables it's easy to spot the problem.

[2018-02-20 02:59] dbacchet commented on #27
Another question: I added a test with a custom archive, and I ended up creating 2 simple classes like these:
[code]
I would love to have a single class that can both serialize and deserialize the registry, but the `operator()(EntityT)` in the output archive and `operator()(EntityT &ent)` in the input archive are ambiguous if they're defined in the same class.
Any chance to move from operators to m

[2018-02-20 08:35] skypjack commented on #27
I think I can easily introduce a couple of proxies to support also the (let me say) _mono archive_. With a bit of sfinae machinery on the API we can accept both the types of archives probably.

[2018-02-20 08:41] dbacchet commented on #27
please just keep one (the one you like the most). There's no reason to support both API in the framework itself if this is something that can be easily implemented on the user side or in a utility function (and we both agree it's easily doable). Thanks!!

[2018-02-20 08:41] skypjack commented on #40
So far, so good. I'm going to merge the PR with `master` because it seems a widely accepted tradeoff. Time to close the issue.

Thank you all for your feedback.

[2018-02-20 08:42] #40 closed

[2018-02-20 08:47] skypjack commented on #27
You're welcome. If it's fine for you, I'd prefer to keep onboard the cereal-like interface because it's the tool I usually use then. Moreover I think it's easier to reason with different archives while implementing offline save/restore functionalities (at least for me). Hope it works fine for you.

[2018-02-20 21:11] skypjack commented on #28
There it is. Everything has been documented.
I'll re-read it during the week and merge everything on `master`.
Please, let me know if you find errors or feel free to open PR to fix them.
Thank you.

[2018-02-20 21:20] skypjack commented on #27
Updated the poc on the branch `snapshot`.
Please, let me know if you find any bug. Thank you.
I'm at your disposal for further request.

[2018-02-20 21:56] DJuego commented on #27
@skypjack . Fantastic. Thank you again for your dedication.
Errr... I do not intend to trick you but i think it may be interesting to open new sections / subsections to document new features such as serialization (a very powerful and notable feature) . At the moment  EnTT is very alive and that is excellent news except for the documentation.  You probably prefer to wait for the new version to be p

[2018-02-20 22:10] skypjack commented on #27
@DJuego Forgive me, I didn't get you. This feature is already documented in the readme file. You can find the documentation on the right branch (`snapshot`). Of course, it's still a kind of work in progress, but this time I'm trying to keep updated code, tests and documentation all at once. What's wrong exactly?

[2018-02-20 22:38] DJuego commented on #27
Sorry. Sorry. My fault! Yes, yes.  I found it! It looks great, @skypjack !!

[2018-02-21 12:49] skypjack commented on #28
@DJuego
I'm ready to merge the `doc` branch with `master` and thus to close the issue.
The sole problem I see is that the README file is now indecently long. Probably it's worth it creating different sections within the online documentation and move there all this stuff, then put the links in the README file.
I'm not so sure that such a long introduction will not scare people...

[2018-02-21 12:59] DJuego commented on #28
@skypjack
Yes Yes. I completely agree. It also facilitates the search of what you need.
I had even thought about proposing to make a wiki. But I did not want to do it so as not to bother you with more documentation tasks.

[2018-02-21 13:12] skypjack commented on #28
Well, you are right, my free time isn't much... however, if you want to help, you're welcome. ;-)
As an example and as a first step, we could add a table of contents to the README file (there are plenty of TODOs out there about how to create a TOC in a README file on GitHub).
Want you to try and create a PR for that?

[2018-02-21 13:45] skypjack commented on #28
@DJuego Well, I did a test, it was not difficult - https://github.com/skypjack/entt/blob/doc/README.md :-)

[2018-02-21 14:16] DJuego commented on #28
@skypjack
Pleased that you got it. It looks great! 👍 Thanks!
Your trust honors me. Your confidence honors me but I'm pretty sure that you would be more efficient than me (in time and energy) even in such a trivial task. And I do not want to delay your agenda.

Maybe later I can propose a worthy  PR for this project (I have never created a PR :-D) but my time is still to come (I hope).

[2018-02-21 21:17] skypjack commented on #28
Upstream. Time to close the issue.
If you have the time to read it and give me a feedback, it would be appreciated.
Thank you.

[2018-02-22 16:39] skypjack commented on #40
Just to mention it (I don't want to create an issue for that).
Another improvement is almost ready to merge. I'm working on it in my free time, so the schedule is hard to set.
It's a speed up on standard multi component views. For those that care about memory usage and do not create persistent views all around the codebase, it will give a boost from 20% up to 50% (how much mostly depends on the nu

[2018-02-23 18:15] skypjack opened #44 "Requests for features: what's next?"
I'm open to requests for features.

I have some long term tasks I'll tackle in sooner or later.
However, I'd like to have feedbacks about what you would like to see as part of the library (either in the ECS or as side tools like the signal stuff).
Let's make `EnTT` a better framework!!

Feel free to leave a comment here and we can discuss it.

---

I'll close the issue in a week probably, so don't

[2018-02-23 19:56] ArnCarveris commented on #44
- [ ] Improve pools memory usage inside registry.
- [ ] Implement group class should be same as registry.
- [ ] Implement groups management inside registry.

[2018-02-23 20:03] skypjack commented on #44
Hi @ArnCarveris good points.
Can you extend them a bit with a short description of what's the problem currently and what you expect in future?
Thank you very much and welcome. :-)

[2018-02-23 20:15] ArnCarveris commented on #44
1, Inspect pools count and component count:
[code]

[2018-02-23 20:20] ArnCarveris commented on #44
Initial implementation of group(should be better than this):
[code]

[2018-02-23 20:27] ArnCarveris commented on #44
Implementing groups will be building block for following use cases:
- Nested entities (Scene in Scene)
- Scene graph/hierarchy
- Prefabs
- State Machine
- Level Streaming

[2018-02-24 09:24] skypjack commented on #44
@ArnCarveris

1.
I suspect you mean the fact that all the registries have an array greater enough to store pointers for all the types of components (note anyway that they don't create instances of pools), even if they don't manage them directly.
It's a consequence of the fact that `EnTT` is no longer a compile-time tool. Types' identifiers are assigned at runtime at the application level.
A way to

[2018-02-24 09:39] skypjack commented on #44
@ArnCarveris

2 and 3 are ones the consequences of the other, right? I mean 3 are features we could implement once 2 is ready to use if I got it. Am I wrong?
Actually I'm trying already to figure out how to create parent-child relationships within the framework without using more than one registry. Hoping I'll find a good way to do that.

[2018-02-24 12:41] ArnCarveris commented on #44
- Keep in mind that i want have many instances of registry.
- Will be great if there will be option to choose that template class to use for pools.
- Is hard to debug, but anyway I may create [natvis](https://msdn.microsoft.com/en-us/library/jj620914.aspx) file, so debugging complex structures won't be issue.
- You right.
- Implementing parent-child relationships inside registry will be great addi

[2018-02-24 13:17] skypjack commented on #44
@ArnCarveris

Yeah, it's not a problem to have many instances of a registry. I don't think the internal arrays of pointers will affect memory usage any time soon and pools aren't created if you don't use them in a registry (see `Registry::ensure` for more details on this). You _spend_ only for a bunch of reserved pointers. Consider a very terrible case: 300 components, 100 tags, 50 different types

[2018-02-24 15:11] ArnCarveris commented on #44
Could you add an formula in README.md for calculating size, and add some benchmark for huge number of registers?

Pass optional template parameter, hmm maybe in addition implement `pools_traits` for that.

Planning use in near future for existing and upcoming projects, there some requirements.

- Each scene should have group id.
- There will be portal component that have two group ids.
- In game w

[2018-02-24 17:08] skypjack commented on #44
I guess it's not that difficult to define a formula that gives an approximated estimation of the memory usage. I can put the task in the backlog (actually a todo file) and sooner or later extend the readme file.
What should test the benchmark instead? Performance? They are not affected by the number of registries because:
* Getting the right pool from the internal array has constant time in any ca

[2018-02-24 17:55] skypjack commented on #44
@ArnCarveris

No, the idea is to do it with a single registry instead of a kind of registry of registries.
It will ease a lot the development of other functionalities that will be created on top of already existing functions.
I've already an idea on how to implement it, but no free time in the weekend, I'm sorry. Hopefully next week I can put down a proof of concept or start doing it at least.

[2018-02-25 12:15] bjadamson opened #45 "How would you move all entities from one registry to another?"
Hello there!

I have the following use case. I'm loading levels from files in parallel, passing each thread a different instance of a registry. In the normal fork/join model, I'd like to combine/move all the entities into one registry moving forward after all levels have been loaded (I know, it seems unlikely to load all levels in memory at once but...)

Is this possible currently? How would you g

[2018-02-25 13:01] skypjack commented on #45
There isn't currently a clean way to do it, mainly because I've never had to do it. If you think it's a _must have_, issue #44 is there for you.

At a first glance, there are several ways to merge two registries:

* #27 and thus the branch `snapshot`: it's not released yet, but the API shouldn't change in future and I'm keeping it in sync with `master`. You can use a continuous loader and copy ent

[2018-02-26 13:05] skypjack commented on #45
@bjadamson

I'm tempted to close the issue mainly because it's not an issue and you got an answer.
I'm closing it in a few hours if no feedback or other requests pop out.
In case, feel free to reopen the issue if you find you didn't get a proper answer.

Hoping it helped you solving the problem.

[2018-02-26 21:27] bjadamson commented on #45
Hey, sorry I was away for a day out of town. Unfortunately I would have no idea what components are in each registry. My use case is that level generation is a lengthy process, so I wouldn't mind a solution like iterating over all the entities copying their components one at a time, being a serial process.

I think solving that makes sense in the library, so I'm down to investigate a good solution

[2018-02-26 21:54] skypjack commented on #45
Not a problem. Welcome back.

First of all, even if you don't know what your registries contain, keep in mind that you must assign types' identifiers to your components **before** to start loading data into your registries on different threads.
The `Family` class isn't thread safe. On the other side, once a type got an identifier, it is assigned with the same value no matter in what registry you u

[2018-02-26 22:06] skypjack commented on #45
Side note: it doesn't matter if you know **exactly** what components are in a registry or not.
As long as you know what components **can be loaded** in a registry it's enough.
Because components are types and thus compile-time stuff, it's likely that you know what components your thread could ever create.

In this case, you can still use a continuous loader that does exactly what you are asking fo

[2018-02-27 08:42] skypjack commented on #44
Time to close this issue. I've put a lot of stuff in the todo list so far. Thank you all.

[2018-02-27 08:42] #44 closed

[2018-02-27 10:11] bjadamson commented on #45
Hey, sorry for not responding. I didn't realize anything in this library wasn't thread safe... so when you mentioned Family not being thread safe I spent the past few hours trying to figure out if it was possible to change that. I haven't had a chance to seriously consider your suggestion above, it's far too many template arguments for what I would like to see in the end. That's my initial reactio

[2018-02-27 14:06] skypjack commented on #45
@bjadamson I'm a bit busy today, I'll give you a detailed answer as soon as possible.

Meanwhile, please note that to reinterpret cast a pointer to a size_t isn't guaranteed by the standard. I can find you the wording in the working draft if you want, but [this](http://en.cppreference.com/w/cpp/types/size_t) is already enough:

Therefore your version of the family class is quite a breaking change

[2018-02-27 14:21] skypjack commented on #45
@bjadamson on the other side I must admit I was wrong. `Family` class is thread safe since C++11 actually (and being the min req of the library C++14...).

See [here](http://eel.is/c++draft/stmt.dcl#4) for more details:

Dynamic initialization of a block-scope variable with static storage duration or thread storage duration is performed the first time control passes through its declaration; such a

[2018-02-27 14:53] skypjack commented on #45
@bjadamson

Ignore my comment about `resize`. You said you have different registries on different threads, right?
Being the `Family` class already thread safe as it is, you shouldn't encounter problems.
Enjoy. :-)

Only protect the target registry with a mutex when you merge all the other registries in it.

Let me know if it works for you.
As far as I can see, this is the sole point still open out

[2018-02-28 06:30] skypjack commented on #45
@bjadamson I'm kind of stupid. Since C++11 static initialization [is guaranteed to be thread safe](http://eel.is/c++draft/stmt.dcl#4):

Plus a note at the end of the page about deadlocks during initialization.
It's enough to make a couple of changes to the `Family` class to turn it in a thread safe tool without introducing vectors or risky features.
Probably during the day I can push everything up

[2018-02-28 09:10] bjadamson commented on #45
Probably during the week I can push everything upstream.

Awesome! Yeah using a mutex around the destination mutex in the meantime is no problem, it's really great this ended up being useful.

I'm going to delete all my comments and never ever help you again because of that otherwise!!!
If you read a promise in it, that is... :-D

Uhh yep... sure did... totally star'd the project this WHOLE time..

[2018-02-28 16:57] skypjack commented on #45
Yeah, I thought about it and both a thread safe family and a merge utility for the registry seem feasible other than useful.
Thank you for the suggestion. Hoping you are not stuck behind this feature. It will be upstream soon hopefully.

[2018-02-28 18:32] skypjack commented on #45
This version of the `Family` class probably works as expected if used with different threads:
[code]
Static initialization is guaranteed to be thread safe and `identifier` is zero-initialized because it's a static variable. `std::atomic` and `fetch_add` should do the rest within the `family` member function in case it's accessed concurrently on different specializations. The concurrent access of t

[2018-03-01 13:25] skypjack commented on #45
@bjadamson

I tried to develop a `Registry::merge` member function, but it's not that easy as I thought initially:
* What if a tag (single instance component) is assigned to entities in both the registries? Obviously, we cannot have it assigned to more than one entity after the merge.
* Without knowing the types of the components, we cannot use the `Pool` template class and thus we cannot keep upd

[2018-03-01 14:21] ArnCarveris commented on #45
Implementing space concept, should help to solve level loading problem.

[2018-03-01 15:00] skypjack commented on #45
@bjadamson

Honestly, if I was you I'd use something like the following snippet (with a thread safe family, of course):
[code]
It's probably the safest way to do it. Because of how `EnTT` works. Unfortunately it's hard to define a merge utility that isn't aware of the components you want to merge.

[2018-03-01 15:06] skypjack commented on #45
@ArnCarveris I'm not sure spaces can solve this problem. If he's loading levels on different threads, it's risky to load them in different _spaces_ of a same registry. Concurrent threads can slow down a lot the one that owns the registry and he still needs a merge utility if it isn't the main thread that owns the target registry.

[2018-03-01 15:13] ArnCarveris commented on #45
@skypjack In case of that space instance is isolated, you create empty instance of spaces, then set atomic loading flag, pass to thread that do job, when it finishes, unsets loading flag, done.

[2018-03-01 18:29] skypjack commented on #45
Branch `issue_45` is ready to merge with `master`. Can I do something else for this issue? @bjadamson

[2018-03-01 22:21] bjadamson commented on #45
I was away again, my apologies.

Hmm that's interesting about the duplicate TAG case. In my usecase, I can work around this by making those entities not tagged and keep developing. Would a try version deem acceptable to add?

something like:
[code]

[2018-03-01 22:56] skypjack commented on #45
Just out of curiosity, can I ask you why you use more than one registries for this? It looks a lot like the bootstrap of your game, wouldn't a single registry work fine in this case?

[2018-03-01 23:50] bjadamson commented on #45
Certainly. Level generation takes a lot of time, specifically when generating an area I'm generating many dungeons, each with multiple levels. A single registry means that each level in the dungeon must be generated synchronously. I would like to speed up my generation loop, and using multiple registries allows me to pass a different registry instance to each thread. A single registry means I need

[2018-03-01 23:57] bjadamson commented on #45
Ah, yes. However my original definition of which components are in which registry ultimately comes at runtime from reading a save file.

[2018-03-02 06:58] skypjack commented on #24
Side note. I've updated `each` so that it returns only entities that are still in use. No longer destroyed ones, users should not be able to access them for several reasons.
In general, `each` probably adheres strictly to your requirements now.

[2018-03-02 13:56] skypjack commented on #45
Did you measure it? I mean, as far as I can see you are only creating entities (`Registry::create`) and components (`Registry::assign`), no destroy, no remove at all (correct me if I'm wrong). Constructing entities and components are pretty fast operations. If you create mutexes on a per type basis around a registry instead of a one-fits-all mutex for the whole registry to use during the merge, I'

[2018-03-03 13:31] skypjack commented on #45
@bjadamson

Here is a way to do what you want with what the registry has already to offer.
I didn't test it, but I hope it's enough to give you a grasp of the idea. Feel free to ask if you want more details.
I _covered_ only `create` and `assign` because it looks to me it's all what you need. Anyway it's pretty easy to extend once you got how it works.
Of course, you don't have to give any _list o

[2018-03-03 16:05] iderik opened #49 "Attach multiple components of the same type."
Is it possible to attach multiple components of the same type to an entity?

SCENARIO 1 (entity with multiple textures)
In modern OpenGL, array textures has taken over the old texture atlases. This "forces" you to use textures of same size.
If you imagine a game like Terraria, a world made up with 16x16 pixel tiles. But there are also plenty of sprites of different sizes. You would need to attach

[2018-03-03 17:26] skypjack commented on #49
No. By design. Internal data structures of a registry (namely sparse set) aren't intended for that use. `EnTT` won't support such a feature any time soon, I'm sorry.

You can just make a door component that refers to other entities and describe the upper and lower parts through those entities.
Next question on the line: what if not all the doors are multi parts? Define two components, `SimpleDoor`

[2018-03-03 17:53] iderik commented on #49
Thank you so much! I'll be back :)

[2018-03-03 18:08] skypjack commented on #49
Thank you. I hope you are enjoying `EnTT`.
Let me know when your project is done and we can add it to the readme. Is it online or a private one?

---

Side note: I'd close the issue if it's fine for you.
There is no chance we can add multi components support to `EnTT` without rewriting it, so it doesn't worth it to keep the issue open.
Any problem your side?

[2018-03-03 18:10] iderik commented on #49
Currently, its private :)

Close it, but where do I ask questions, if needed? IRC or Email?

[2018-03-03 18:16] skypjack commented on #49
Options are:

* Continue writing here: a closed issue can still be used to discuss, even though it doesn't end in new features or bug fixing.

* Open new issues with proper titles for different questions: they can help future users if you got an answer.

* Mail: you find mine in the profile section.

Thank you for asking.

---

Set aside the fact that you cannot have it  in `EnTT`, if was you I wo

[2018-03-03 18:42] #49 closed

[2018-03-04 14:37] skypjack commented on #45
@bjadamson

Changes from branch  `issue_45` are now on `master`. Considering the previous comment that provides you with an external tool to use the way you asked, I think I cannot do much more for this issue.
Let me know if I can help you further or we can close it. Thank you.

[2018-03-05 20:37] DavidHamburg opened #50 "vcpkg"
Hi @skypjack ,

thanks for your great library! I would like to use your library in one of our projects. To be able to use entt more easily I would like to publish it to the package manager [vcpkg](https://github.com/Microsoft/vcpkg) and maybe later to [arch user repository](https://aur.archlinux.org/).

Is that in your interest?

https://github.com/DavidHamburg/vcpkg/commit/c14258a822043ee336b04f7

[2018-03-05 20:50] skypjack commented on #50
Hi @DavidHamburg ,

I'm glad you like my project.
Can I ask you in which type of project you want to use it?

As far as I can see, you already did all the work. I don't see any reason to say _no_. :-).
Unfortunately I'm short in time to be able to maintain also the stuff you're going to publish. However, if you're willing to help with this, it would be great to see EnTT published for vcpkg and Arc

[2018-03-06 00:46] SeeSoftware opened #51 "Issues compiling example on front page with MSVC++ 2017 (ver. 19.12.25835)"
Hi, im very interested in this library but unfortunately i cannot compile any tests or examples because the compiler gives me a "C1001 Internal Compiler error." its probably something out of our controll but i might as well share it here

[CompilerOutput.txt](https://github.com/skypjack/entt/files/1783111/CompilerOutput.txt)

Im using 64bit Windows 10.

looking at the example at the front page it

[2018-03-06 01:30] SeeSoftware commented on #51
Looks like my compiler was corrupted after reinstalling everything worked as expected !

[2018-03-06 01:30] #51 closed

[2018-03-06 12:40] skypjack opened #52 "Call for comments: get rid of some member functions"
Currently, we have three different versions of the `Registry::create` member function:

* Plain:
[code]
* Default initialized components:
[code]
* Initialized components:
[code]

Honestly, it's pretty annoying to maintain all of them and more than once I've been in trouble because they were a _problem_ while trying to figure out how to develop other features.
It would help getting rid of the last

[2018-03-06 19:56] SeeSoftware opened #53 "Some Questions about implementation into projects"
I have some questions about the best way to implement some things:

1. Component Dependency:
for example if i have a "Position" Component and a "Velocity" Componenet and i want to create a new Component called "Physics" to have more complex behaiviour how woud i make Position and Velocity a requirement for having a physics component. I could pass the Registry and the Entity into the Physics compon

[2018-03-06 19:56] #53 closed

[2018-03-06 20:13] skypjack commented on #53
Uhm... Did you close the issue because you found the answers in the meantime?
If it's not so, I can give you my point of view... Let me know.

[2018-03-06 20:21] skypjack commented on #45
Hi @bjadamson ,

I'm not sure you're still following this thread.
To sum up:

* Upstream is now a thread safe version of the `Family` class.
* Above is a POC of a class derived from `entt::Registry` that can be used to _solve_ your problem without using multiple registries.
* Above is a POC of a class derived from `entt::Registry` that can be used to _solve_ your problem using multiple registries

[2018-03-06 20:21] #45 closed

[2018-03-06 20:39] SeeSoftware commented on #53
oh i think i missunderstood another thread where you said how to contact you. yes i would love to hear you point of view should i reopen it ?

[2018-03-06 21:08] skypjack commented on #53
Not a problem, it's fine. Just asking.

1.
So far, all what you can do is to create a bunch of factories to assign the right components to an entity when you create a _concept_.
As an example, when you create a _button_ (if it has any mean in your software) you can assign transform, renderable, sprite, whatever by means of the factory method, then return the entity.
In the TODO list there is alrea

[2018-03-06 21:44] SeeSoftware commented on #53
ye this is a new thing for me i allways implemented a ecs on my own and it allways had logic in entities. i guess imma try this way out thanks for shareing

[2018-03-06 21:45] skypjack commented on #53
You're welcome. Feel free to contact me if you need help.

[2018-03-06 21:46] DavidHamburg commented on #50
It's not the typical gaming context - we would like to use EnTT to develop a graphical 2D diagram editor.

Great :) I will make a pull request in the vcpkg repository and inform you when its published. You could mention it in the README if you like. It's a nice way for new users to get in touch with EnTT.

Sure, I can update the packages when you release new versions.

[2018-03-06 21:56] skypjack commented on #50
I got in touch with a lot of people that use `EnTT` out of the typical gaming context actually.
It's pretty common and I'm glad you find it's the right tool for your task. Let me know if you publish the software online, I'd like to look at it. Also feel free to contact me if you need help with `EnTT`.

Absolutely!! I was going to ask you to ping me once published. It would be great. Of course, I'l

[2018-03-06 22:46] skypjack opened #54 "Call for comments: spaces"
I've been fascinated for a while by the [idea of having spaces](https://gamedevelopment.tutsplus.com/tutorials/spaces-useful-game-object-containers--gamedev-14091) implemented directly within `EnTT`.
Actually, more than once I found myself saying - _uff, if only I had spaces here, it would be easier to do this_.

However I postponed the implementation because:
* I didn't want them to be part of th

[2018-03-07 00:08] ArnCarveris commented on #54
How you'll keep in sync with registry?

[2018-03-07 06:10] skypjack commented on #54
@ArnCarveris

I won't. You cannot do that easily if it's an external tool. At least, without affecting the registry.
A space will clean up itself during iterations and return only valid entities. We can call it a _lazy cleaning_.

In other terms, you pay an extra in terms of performance (not that much probably, but it depends on your software) and get back a fully separated tool to use _when you c

[2018-03-07 06:44] ArnCarveris commented on #54
@skypjack If all entities are valid, what penalty of performance will be?

[2018-03-07 07:06] skypjack commented on #54
Consider using a standard multi component view. Take a component _Ci_ from the set of components _C0, C1, ..., Cn_, where _Ci_ is the component that pulls in fewer candidates. In that case, for each entity in _Ci_ you have to pay for a `has` on all the other pools (that's why there exist persistent views, they avoid all the checks and are incredibly fast mainly because of that).
Spaces work simila

[2018-03-07 13:20] skypjack commented on #54
@ArnCarveris

Anyway, at a first glance and if I think at how I would use spaces, the (yet ridiculous) price of a space is paid only when you iterate entities through the space itself and it won't happen at each loop if you arrange properly the codebase.
Therefore I wouldn't concentrate the discussion on the cost of a space. Instead I would like to talk about features and API so as to provide a to

[2018-03-07 22:11] DavidHamburg commented on #50
Great, I will start another pull request with an updated README once the [PR in vcpkg](https://github.com/Microsoft/vcpkg/pull/2984) has been accepted.

[2018-03-07 22:11] #50 closed

[2018-03-08 07:15] ArnCarveris commented on #54
@skypjack

- Nope spaces cannot be treated as tool because in most cases this is core engine functionality.
- Space are isolated container, that should be managed by some kind of manager.
- But having partial registry tool might be useful for some use cases.

There is some rude/experimental implementation of [spaces](https://github.com/ArnCarveris/entt/tree/space).

[2018-03-08 09:28] skypjack commented on #54
@ArnCarveris

Having spaces as an external tool instead of part of the registry doesn't mean they are not treated as a core functionality. The other way around would be to put spaces in a map managed by a registry and slow down the `destroy` member function to keep each and every space in sync (even when you don't need and don't want to do that).
I prefer much more a lazy clean done during iterati

[2018-03-08 09:41] skypjack commented on #54
As a side note, in this implementation the design of `EnTT` changed entirely only to be able to add spaces in the form of _multiple instances of a registry_, thus forcing users to rely on spaces instead of registries. I don't think it's worth it. Space becomes a kind of core class in this model, while the registry should be considered the corner stone instead.
It betrays a bit the philosophy of `E

[2018-03-08 09:51] ArnCarveris commented on #54
@skypjack

- The registry API should be same, in addition of space management.

- but I think is way better to create separate tool for space management and don't touch registry at all.

[2018-03-08 10:03] skypjack commented on #54
You didn't do it, right? Spaces on the experimental version you linked aren't an external tool. Instead, we can sum up it as _each space is a registry_ (set aside the fact that you changed its name to container):
[code]

It doesn't even require to add a `Space` class to do that. One can create a map string/registry and obtain more or less the same result without touching `EnTT`.

---

As a side no

[2018-03-08 10:19] ArnCarveris commented on #54
@skypjack

- I needed to take control of tag/component/view family types.
- Now is kind of ugly how I did this, but works for me now.

- Idea is that you cant create space without accessor, later I'll implement manager for it.
- Space must have accessor.

- Ok, notify me.

[2018-03-08 10:38] skypjack commented on #54
I see. Be aware that components will have different identifiers in different spaces. You won' be able anymore to easily add serialization/deserialization utilities this way. Consider it.
Moreover, `EnTT` won't follow this model any time soon. It could complicate merging new features in your fork.

That being said, from my point of view you need to take control of those types because you are creati

[2018-03-08 12:14] ArnCarveris commented on #54
@skypjack

- This was intended.
- Space is isolated container.

- I haven't worked with sparse set yet.

- I have no knowledge how to do it.

- I'll try to solve entity migration between containers later.
- Use case will be rare.

- Processing whole space by need of context.
- Prefab(snapshot from content) support out of box.
- Out of box support for features like [in this unity asset](https://ass

[2018-03-08 13:08] skypjack commented on #54
You probably know it, you can get most of the features for free with a single registry actually.
I'm not that convinced that multiple registries are the way to go to have the features you are looking for at the end of the day. On the other side, I'm pretty convinced about all the problems we can find with this approach, most of the which are pretty obvious.
However I'll think twice to it later. Pe

[2018-03-08 13:37] ArnCarveris commented on #54
@skypjack

No problem, I need better work on that, following WIP was done within couple hours, because of that this brutally rude.

Later when you implement partial registry I'll compare with my approach with real test case, meantime I'll wait your implementation & improve own approach.

 Ok, I'll not do any PR in near future related with spaces.

[2018-03-08 13:54] skypjack commented on #54
Yeah, thanks, I couldn't accept it anyway at the moment, mainly because the line here is to keep intact the registry and its API. Moreover, your changes would break completely the stuff on the `snapshot` branch and it's not acceptable for me. I prefer spaces implemented as an external tool as long as performance are acceptable, because it makes easier to implement serialization/deserialization uti

[2018-03-08 14:14] ArnCarveris commented on #54
@skypjack

- Totally agree with that.
- Only space manager is allowed to manage instances(like view instance creation restriction).
- Space instance reference can be getted only from manager via space accessor class.
- Multiple space manager instances will be not allowed.

[2018-03-08 14:43] skypjack commented on #54
It doesn't change the fact that a given type `T` will have different numeric identifiers within different spaces, at least the way you implemented them. No matter if you hide everything behind a _manager_ (whatever it means) and if you forbid creation of multiple managers. It will break things like serialization/deserialization, merge between spaces and so on in any case, but keep in mind that the

[2018-03-08 16:19] skypjack commented on #52
So far, so good. It looks like it's not a big deal and thus I'm going to remove them with the next release (probably).
I think blueprint/template/<pick your name> can easily replace the two `create` member functions actually.
I don't think I'll use those functions anymore once that tool is in place.

---

Still a few hours available for any supporters of the _no_ and then I will close the issue. :

[2018-03-09 06:41] #52 closed

[2018-03-09 06:44] skypjack commented on #32
Update: soon I'll push a `size` member function for multi component standard views.
It doesn't return the exact number of entities the view is going to return. Instead, it will give you an estimation that is equal or greater than the actual number (it cannot be lower in any case).

[2018-03-09 06:47] skypjack commented on #28
I plan to reduce the readme to a few lines and put the whole documentation on `gh-pages` branch. It will be available online as usual.
I don't think such a long readme file was helpful. Documentation separated in multiple sections is much easier to consult.

What about? @DJuego

[2018-03-09 07:06] reworks commented on #28
Sounds good. But maybe include a small overview of the api in the readme so people can see at a glance how the library works?

[2018-03-09 07:13] skypjack commented on #28
@reworks Yeah, probably an example of use would makes sense. I'd like also to implement a pong-like game to show how to use the whole framework, but I've not much time to do that at the moment unfortunately...

[2018-03-09 18:51] skypjack opened #55 "Help wanted: EnTT v3"
Hi all,

I was working on spaces (#54) on a private branch and I added a few benchmarks.
The expectation was that spaces were slower than the views. They were surprisingly faster instead.
Tests were all ok and everything seemed to work fine. The sole difference was that I made a particular optimizations to exploit some of their features and to squeeze the best out of them.

Similar optimizations w

[2018-03-10 14:18] reworks commented on #28
@skypjack I could do it and submit a PR, but I can't guarantee it would get done in any reasonable time-frame. I also assume you want it's code style to be the same as entt?

[2018-03-10 14:38] skypjack commented on #28
@reworks

Wow, it would be great!! Thank you, really appreciated.
Actually, no: code style doesn't require to be the same of `EnTT`. Moreover, if you can write down something that works, I can easily review it and adjust the code style if required, it's not a problem. Otherwise, you can also push it on a repo in your account and we can link it from the README.
Currently I'm working on new features

[2018-03-10 16:27] skypjack commented on #28
@reworks

Actually, if you are willing to help, we can create a _small team_ to work on it so that we can provide newcomers with an example made with `EnTT` before the summer.
Probably @morbo84 wants to join us? Any other user of `EnTT` out there is willing to help?

+1 I'm in.

[2018-03-10 16:31] skypjack commented on #54
[Here](https://github.com/skypjack/entt/tree/space) it is.

The same branch contains also some optimizations and a few other changes. Not everything is related to spaces. Probably a better name for it would have been `experimental`, anyway...
I'm almost ready to merge it on `master`. I need to update the README file (so that @Djuego won't blame me :-)) and I'm done.

Feedback are highly appreciate

[2018-03-10 18:11] ArnCarveris commented on #55
@skypjack Add some workload inside benchmark lambdas

[2018-03-10 18:19] skypjack commented on #55
@ArnCarveris

Yep, benchmarks would be more meaningful actually. The ones I'm using are the same of `EntityX`, so as to be able to compare them.
Now that iterations are highly optimized by the compiler (see the README on the `space` branch for more details), those benchmarks don't make sense anymore actually.

I'm putting this in the TODO list. Good point.

[2018-03-10 18:24] ArnCarveris commented on #55
@skypjack Any chance to have view/each with optional entity range? can be useful for iterating grouped entities (like parents children).

[2018-03-10 18:42] skypjack commented on #55
@ArnCarveris What's the use case? I mean, as an example, if I'm iterating transforms where I've parent-child relationships, I've already a view to use to get the components for the children of an entity. Something like this:
[code]
What's the use case for which this isn't enough?

[2018-03-10 18:44] ArnCarveris commented on #55
@skypjack `transform.children` is std::vector or any other container?

[2018-03-10 18:56] skypjack commented on #55
I don't know, it was an example for the purpose of the question, I would say yes. Probably a fixed size vector or something like this.
Honestly I usually do it the other way around using `component.parent`, so rarely going from parents to children.
Anyway, set aside it, what's the use case for a range-each that we cannot solve using views/registry already?

[2018-03-10 18:57] morbo84 commented on #28
I'm in too.

[2018-03-11 22:15] skypjack commented on #54
Upstream. Time to close the issue. Thank you all for your help.

[2018-03-11 22:15] #54 closed

[2018-03-12 03:20] reworks commented on #55
What about a way to store 'systems'. Since most of the time users would operate on entities / views in a system.

Maybe a sparse set that can hold Systems so user's don't have to rewrite system management code for every project using entt.

And whatever structure holds the systems can call methods like event() or update() for you for all systems.

So for example in a game:
[code]

Functions would

[2018-03-12 04:07] reworks commented on #28
@morbo84 @skypjack
I set up a repo here: https://github.com/reworks/EnttPong
and invited you both as collaborators.

I went ahead and wrote a basic outline for the game using sdl2 and entt.
At the moment it just structures the game and renders a square.

[2018-03-12 10:18] skypjack commented on #55
@reworks

I've this bullet in the TODO list:

You are proposing to make an intermediate step to register systems without organizing them, right?
It could make sense actually. However, note that usually I provide systems with the event bus through a locator, so here we already have two different approaches to the problem. The way you do it is more (let me say) _entityx-oriented_, if I remember corr

[2018-03-12 10:26] skypjack commented on #28
Good. I'm closing this issue... again!!
It looks like a reworking of the documentation isn't a problem for you, so... why not? :-)
Sooner or later I'll find the time to do it probably.

@reworks
We can continue speaking about `EnttPong` directly on its board. Thank for you help. Really appreciated.

[2018-03-12 10:26] #28 closed

[2018-03-12 11:02] AndrzejKozik commented on #55
My issue is connected with @reworks approach - instead of manually call systems, make an engine publish an 'update' event to all the systems. The question is how to force ordering of systems calls individually for each event type.

The order can be either implicit, given by order of registration (it depends on containers under the hood) or given by dependency graph You mentioned, but in this case

[2018-03-12 11:21] skypjack commented on #55
@AndrzejKozik Oh, I got the comment from @reworks a bit differently.
I guess he meant to register systems in a specific order, then invoke them exactly in the same order and not through events. Instead, if I got it right, he wants to provide systems with a dispatcher to use to send events if required.

[2018-03-12 12:41] AndrzejKozik commented on #55
Oh, I see a part of the idea. If we can have a few registries, each with different order of systems, then it'll do the job. Registry updates have to be manually scattered in an engine - I prefer events from engine.

I don't get however the part of placing registry in the role of bus, with event dispatcher for each registry. Instead of just publish event to the bus, You have to publish it to each r

[2018-03-12 12:54] skypjack commented on #55
Probably it's worth waiting for more details from @reworks :-)
It looks like we didn't get his idea correctly and we are just trying to figure out what it was...

[2018-03-12 15:35] reworks commented on #55
Oh. I meant registering systems in a specific order in an ordered data structure so that when event() and update() are called it calls the appropriate system functions in that order.

[2018-03-12 16:55] skypjack opened #56 "Call for comments: blueprint/template"
Another step towards the next version of `EnTT`.
The idea is to create a templating system (where template isn't intended as _C++ template_) with which to register predefined sets of components to assign to entities during creation.

Something along this line:
[code]

Doubts for which feedback would be appreciated:

* Should it be part of the registry and thus extend its API and introduce another

[2018-03-12 17:35] ArnCarveris commented on #56
@skypjack

Prefer external tool.

In other terms, this has better performance at runtime:

Important to have runtime creation.  make it configurable from data/file/resource.
[code]

[2018-03-12 17:50] AndrzejKozik commented on #55
@reworks, have You considered single registry or multiple registries, each with different order of systems?

In the second part, is Your idea to have separate Bus functionality inside each system registry?

[2018-03-12 17:50] skypjack commented on #56
@ArnCarveris I see your point. It makes sense.
Full support at runtime (instead of a mixed compile-time/runtime model) would make them usable also from within a plug-in system. Mod developers (if any) could write their own templates this way and then use them.
I didn't think about it actually. Interesting indeed.

[2018-03-12 19:14] ArnCarveris commented on #56
@skypjack

How to implement dynamic/shared library support? I mean custom components defined inside plug-in,

[2018-03-12 19:43] skypjack commented on #56
@ArnCarveris Actually I said plug-in but I meant script/runtime components in this case. My fault.
Anyway, you can create a plug-in system in exactly the same way you can create a script system: use a single component defined at compile-time to use to map runtime components defined by a plug-in.
See the `mod` directory for an example of mod based on `Duktape`.

[2018-03-13 17:38] skypjack commented on #55
I'm taking in consideration the idea of creating a sort of _extended registry_ that offers built-in support for (let me say) _runtime features_ like blueprint, spaces (I don't like much the current implementation actually) and so on.
In other terms, a way to support all those features that want to know when entities and components are created or destroyed.
Currently, only persistent sets observe p

[2018-03-13 21:41] skypjack commented on #56
So far so good. I got good points out of this issue. Thank you. Time to close it.

[2018-03-13 21:41] #56 closed

[2018-03-15 12:27] UnoYakshi commented on #54
Maybe, it's too late, but Spaces sounds like something like a complicated version of **tagging**.
Pseudo-code:

    object_1->tags = ["ai"];
    object_2->tags = ["vfx", "art"];
    object_3->tags = ["physics", "art"];

    auto spaceslike_object = find_by_tags(["vfx", "ai"]);  // Returns the first two objects...`

[2018-03-15 12:51] skypjack commented on #54
Yep. At the end of the day, you can also create spaces using a component. Assign the component to all those entities you want to put in the given space, then create views that use *also* that component. Done.
The goal was/is only to provide users with a more user-friendly tool that uses even less memory if possible.

So far, I haven't been able to find a solutions that is satisfying, so... Well, w

[2018-03-15 15:52] gale93 commented on #55
I upvote for a class System where you can derive from and you can:
- register and "receive()" any event you want
- implement a generic update() method

and the you add it to the SystemRegistry..

Imo, give an order to the Systems update() it's not a good move, unless you make it somehow filterable.
Because you may have Systems (like in my case) that want to be updated in different phases of the lo

[2018-03-15 15:58] skypjack commented on #55
@gale93 If you had a way to register systems somehow within a runner, using multiple runners wouldn't solve your problem?

[2018-03-15 16:11] gale93 commented on #55
@skypjack oh well, as long as the systems continue to receive events from all runners and not only from the runner they are linked to, yes ! ^^"

[2018-03-15 16:19] skypjack commented on #55
@gale93 If I was you and had to design something like this, I'd put a dispatcher in a locator and let the systems refer to it directly. If you don't like the idea of using a locator, well, I'd pass the dispatcher as an argument during construction and probably during update. In no case I'd make it part of a _runner_, whatever it is.

That being said, probably I'll work on it soon for it seems that

[2018-03-16 09:13] AndrzejKozik commented on #55
@gale93 I feel I do the same things in my game. But instead of generic update method in systems, I make dedicated event receivers (fixedUpdate, renderUpdate, prePhysXUpdate, postPhysXUpdate, and so on). In this way, instead of direct calling SystemRegistry.update(...) from engine I just publish an appropriate event. In this way I don't need system registries at all. The only problem with such an a

[2018-03-16 13:07] skypjack commented on #55
Probably most of the features of which we are talking shouldn't be part of an ECS-centric framework like `EnTT`.
Instead, it could make sense to create an almost full-featured yet minimal engine based on `EnTT` that compiles as a library (header-only doesn't fit well in this case) and extends the ECS itself with all those functionalities required to create such a tool.

`EnTT` can be used in a wid

[2018-03-21 18:00] skypjack commented on #27
@dbacchet

Any news on this?
If you have any request for change or you found bugs, let me know so that I can look into them.
I'll release v2.5 as soon as this feature is ready, merged upstream, documented and fully tested.

Thank you for your help, really appreciated.

[2018-03-21 22:31] skypjack commented on #55
Follow-up of my last message.

I created a new repo (`mini`) where to make experiments with `EnTT` so as to create a minimal engine.
I'll put there all the features I want to see in an _engine_ and that wouldn't make sense within this framework. Similarly, I'll place here all those tools that can find their way in a header-only library like this.

Stay tuned and keep on participating in both the p

[2018-03-22 00:42] nbelakovski opened #58 "Making `snapshot` const?"
It would be really great if the Registry's snapshot function could be marked const, but something that gets in the way of that is the following line which gets a view into the registry for a particular component. Since `view` calls `ensure`, which is non-const, the Registry member variable of the snapshot class can't be marked const. Do you think there might be a way around this? Would be nice to

[2018-03-22 07:07] skypjack commented on #58
I don't think it's a problem. However, a const version must still return a non-const temporary `Snapshot<Entity>`, so I don't get the reasons behind this request.
Returned value can't be const, mainly because all the member functions of `Snapshot<Entity>` accept an archive and invoke its `operator()` somehow. The latter is expected to modify something under the hood, so it cannot be const. Therefo

[2018-03-22 07:36] skypjack commented on #58
No, wait, maybe you misunderstood me.

I didn't mean it is going to modify the registry, it won't happen. I mean that the `Archive::operator()` member functions aren't required to be const and probably they won't be so. Mainly because they _accept some data and **write** them somehow, somewhere_. If you imagine a stack based archive (like the trivial one used to test the feature), it's quite obvio

[2018-03-22 15:56] dbacchet commented on #27
good to go for me!
thanks!

[2018-03-22 18:07] skypjack commented on #58
@nbelakovski Can I ask you for what you're using EnTT? Just out of curiosity.

[2018-03-22 18:11] nbelakovski commented on #58
I work with @dbacchet :)

[2018-03-22 18:16] skypjack commented on #58
Yeah, definitely!! :-)
Let me know if it works fine for you and feel free to ping me if you find any other _issue_.
I'll be out of home until Wednesday. I can take in charge new requests as soon as I'm back.

[2018-03-22 21:19] vblanco20-1 commented on #55
Hello skypjack.
First of all, great work with your library.
Inspired by the new Unity ECS library, ive decided to try to implement something of the sort, but for Unreal Engine.  Im evaluating multiple different C++ ECS libraries for possible creation of such integration (wich will be open source too). When creating my test project (a simple bullet hell, with a bunch of systems and multiple compone

[2018-03-22 22:59] skypjack commented on #55
Hi @vblanco20-1

I'm glad you enjoy using `EnTT`.
Thank you for your comment too, contributions are highly appreciated.

You got one of main reasons for which `EnTT` doesn't offer such a feature out-of-the-box.
Moreover I never had the same requirement and thus a performance hit for nothing was to be avoided my side.

A possible _alternative_ could be to replace events with components.
As an examp

[2018-03-22 23:13] vblanco20-1 commented on #55
Thank you for your answer.

Your idea of using a "handle" with an automatic deleter is definitely a lot better of an idea than implementing an event system.  Im going to try that for the specific components that need to update something when they get deleted.
At the moment my experiments are barely more than very basic experiments, but i will try to publish the experiments once they are a bit bett

[2018-03-25 20:17] skypjack commented on #55
Time to close this issue.
I suspect there are a few changes to do to the serialization stuff so as to compile it also on VS.
Once I did it, I'll create the v2.5.0 tag with raw  views, save/restore, performance improvements and lower memory usage.

All the other things (if any) will be part of a future release.

Thank you all for your comments.
Really appreciated. Stay tuned!!

[2018-03-25 21:33] skypjack commented on #27
So far, so good. Probably the last changes broke the compilation on VS (because of its broken compiler, the code for itself is fine indeed).
I cannot test it right now and the fix should be straightforward, so not a problem actually.
During the week I'll fix it and merge everything on master. Then I'll create a tag for EnTT v2.5.0.
From that moment on, any issue or request for change must have its

[2018-03-26 09:40] skypjack opened #60 "Call for comments: debugging tools."
I was wondering if some debugging tools could help the development of applications that use `EnTT` (or any other entity-component system in general).
I've my idea based on my own experiences of what could be useful. However, feedbacks from users that used `EnTT` in a real world scenario would be really useful!!

If you have any suggestion, feel free to leave a comment.
I cannot guarantee everythin

[2018-03-26 11:06] ArnCarveris commented on #60
[natvis](https://msdn.microsoft.com/en-us/library/jj620914.aspx) for visual studio will greatly improve debugging process, I've planned some day to do it.

[2018-03-26 13:12] mhaemmerle opened #61 "EnTT and Unreal Engine 4"
Hey,

I've ported the EntitasCSharp/Unity3D [MatchOne ](https://github.com/sschmid/match-one) example to EnTT/Unreal Engine 4, which can be found here under [MatchOneEntt](https://github.com/mhaemmerle/MatchOneEntt). It's a really small example and I would love to get feedback whether the places using EnTT could be improved in an idiomatic way.

In general it is quite pleasant to work with EnTT, t

[2018-03-26 13:46] vblanco20-1 commented on #61
I also made my own implementation of an UE4 integration: https://github.com/vblanco20-1/ECS_SpaceBattle

Used it to create this space battle: https://gfycat.com/EdibleCourteousHorse

[2018-03-26 14:35] vblanco20-1 commented on #60
Havent really needed debugging tools for my experiments. But if there is something i think would be really useful, is a way to "query" the ECS for details about the pools, listeners, views, and general memory usage. It would be super useful if one can query the memory use of the whole ECS and the number of allocations.
For something like that, some kind of "get_pool_information" function on the re

[2018-03-26 15:51] dbacchet commented on #60
I plus @vblanco20-1 on that. More introspection on the memory management would be useful. For example knowing how many sparse sets are allocated, size and capacity for each, and ideally info about the type of component that they are managing

[2018-03-26 16:19] UnoYakshi commented on #61
@vblanco20-1, @mhaemmerle, don't you want, guys, to work on ECS plug-in/module for UE4 based on EnTT? With GUI and stuff.

[2018-03-26 17:01] vblanco20-1 commented on #61
@UnoYakshi  The implementation im doing is not going to be a public plugin, im going to use it for my new VR game where i need super-stable framerates and high performance on PSVR wich has a shit cpu. Some of the stuff would be NDA-d. But you can see how i implemented integration beetween UE4 actors and ECS entities in the Space Battle project.

[2018-03-26 19:16] UnoYakshi commented on #61
@vblanco20-1, yeah, already did that::). No, I'm not talking about this exact implementation, but rather about a separate project.

[2018-03-26 20:10] vblanco20-1 commented on #61
How are you dealing with the UI/editor integration @UnoYakshi ? If you see in my battle example, im using "Wrapper" components that just register themselves with the ECS.

[2018-03-26 21:00] UnoYakshi commented on #61
@vblanco20-1, alas, for now, I didn't understand the exact pipeline for extending `EdEditor`/`Editor` due to the lack of documentation. However, I've found [Rama's example](https://wiki.unrealengine.com/Rama%27s_Vertex_Snap_Editor_Plugin) but haven't enough time to investigate it properly.

There are 3 main types of plug-in/modules (don't remember how it's called correctly, but UE4 has both, plug-

[2018-03-26 21:43] skypjack commented on #61
@mhaemmerle I'm out of home until Wednesday. I'll reply to all your questions as soon as I'm back to home. Be patient and don't worry. ;-)

[2018-03-27 12:57] skypjack opened #62 "Call for comments: signals on component creation/destruction"
Ok, people is asking this and I tried to figure out if it's possible. Probably, I found a nice way to add signalling stuff to the registry in a way that is in policy with the whole framework: _pay only for what you use._.
It means that there will be no performance hits for those components that aren't (let me say) _observed_. On the other side, it will be possible to be notified about creation and

[2018-03-28 06:48] skypjack commented on #60
Thank you very much. I'm closing the issue in a few hours and adding these suggestions to the TODO file. Stay tuned. :-)

[2018-03-28 07:30] #60 closed

[2018-03-28 13:23] skypjack commented on #61
Here I am, sorry if I'm late!!

A few hints.

In general, I don't like to put the registry in a locator. Services are something different, sort of tools to get rid of a bunch of `if`s all around the codebase.
As an example, consider an audio service. You can implement two classes, `WorkingAudio` and `NullAudio` that both derive from `AudioService`, then set the right one as a service. Whenever the

[2018-03-28 14:59] mhaemmerle commented on #61
Thanks for your feedback!

This actually work(ed) as intended :) - even though it's obviously way too verbose:
[code]

Though as per your suggestion I've replaced it with this here:
[code]

But to be honest I'd love to use this here (which currently doesn't work):
[code]

I don't know whether the `replace` member function currently not working with tags is intended or an oversight, but IMHO it inf

[2018-03-28 15:06] mhaemmerle opened #63 "Rename "ensure" to "assure""
I'm creating a new issue to track for the renaming of ensure/assure mentioned in #61

That sounds fine to me and I've also assured that there's also no macro defined with that name.

[2018-03-28 15:18] skypjack commented on #61
Interesting overview, I've never had the need to _replace_ a tag actually but I completely understand what you say.
I'm putting it in the TODO list. I'll try to work around the _limitation_ somehow if possible.

---

Side question: what do you expect from this issue?
I mean, you opened #63 and that's fine for me. I think I'll do it as soon as v2.5.0 is released actually.
However I'm not sure if I

[2018-03-28 15:22] skypjack commented on #27
@dbacchet

Upstream on `master`.
If you confirm that everything works as expected after the merge, I can close the ticket and create a v2.5.0 tag.
I'll also delete the `snapshot` branch, so feel free to get rid of it.
Thank you very much once more for your help.

[2018-03-28 15:25] skypjack commented on #63
`grant`, `guarantee`, `provide` are probably good candidates as well. What about? :-)

[2018-03-28 15:35] DJuego commented on #27
Again. thank you for your amazing efforts, @skypjack

This statement in the README is striking: "The code is not production-ready and it isn't neither the only nor (probably) the best way to do it. However, feel free to use it at your own risk." :-P

[2018-03-28 15:39] skypjack commented on #27
@DJuego Ahahaha. It refers to the code of the test made with Cereal C++ and not to the code of the save/restore stuff!! Don't worry. ;-)

[2018-03-28 15:57] skypjack commented on #61
`replace` suffers exactly from the same problem of `assign`. That's why there exists `attach`.
In order to avoid breaking backwards compatibility, probably the best choice is to define a new function (`change`? `exchange`? `substitute`?) and to accept the (actually already existent) discrepancy.

What about?

[2018-03-28 16:22] UnoYakshi commented on #63
@skypjack, `grant` and `assure` take less time to type among others.

[2018-03-28 16:23] mhaemmerle commented on #63
Yes, those are the macros.

Personally I think `assure` is closest in meaning of all of your examples. See dict [here](https://www.dict.cc/?s=assure).

[2018-03-28 16:34] skypjack commented on #63
I like to use _laziness_ as a main reason!! @UnoYakshi :-D
`assure` seems to be the best choice then. I'll go for it. ;-)

[2018-03-28 16:40] UnoYakshi commented on #63
It's about user-oriented mostly::).

[2018-03-28 16:45] skypjack commented on #62
By reviewing the codebase I found that a change in this direction can improve things also for persistent views. In fact, they affect to some extent creation and deletion of components even if persistent views aren't used. It can be (probably) avoided.
I put a note in the TODO file for future changes that improve things in general and let users enable or disable signalling for specific components.

[2018-03-28 17:04] skypjack commented on #61
Good. I'll open new issues to keep track of changes if required and close this one then.
Thank you very much for your comments and your answers. Users are the best thing that happened to `EnTT` and they help driving the development of the framework.

Step by step then. We can add a new member function for the 2.x family, then replace all of them at once in 3.x and accept breaking changes in that c

[2018-03-28 17:37] mhaemmerle commented on #61
My pleasure and thanks for being open to feature requests :)

[2018-03-28 20:05] skypjack commented on #63
Upstream. See 472064b.

[2018-03-28 20:05] #63 closed

[2018-03-28 20:33] skypjack commented on #27
@DJuego Fixed the doc, thank you for pointing it out.
I'm closing the issue as a consequence of the merge with `master`. Feel free to create new issues in case of problems.
I'll create tag v2.5.0 as soon as @dbacchet confirms that everything works fine (or in a couple of days in case of no feedback).

Thank you very much to *all of you* for the help and the support. Really appreciated.

[2018-03-28 20:33] #27 closed

[2018-03-28 21:55] skypjack commented on #61
@mhaemmerle

Added `set` and `move` member functions to the registry. They can be used to replace a tag and to transfer the ownership of an already existent tag to another entity.
You can test them on the `experimental` branch.

I'm closing the issue because I've already kept track of all the other requests and I'll work on them sooner or later.
I'll open new issues if required to discuss each cha

[2018-03-28 21:55] #61 closed

[2018-03-29 15:20] skypjack commented on #62
Reopened this to discuss API and use cases.
I'll put all the details in a comment later.

[2018-03-29 15:31] skypjack commented on #62
At a first glance, this is a possible approach:

* For each type of component it will be possible to attach listeners and be notified about either creation or destruction

* A listener will receive a single argument, that is the entity involved

* In case of creation of a component, the signal is sent immediately after the operation

* In case of destruction of a component, the signal is sent imme

[2018-03-29 20:15] gamagan opened #64 "Thread safety info for functions."
For each function of the Registry api, it's important to know the thread-safety aspect of the function.
Please add a line to each function description in the documentation regarding this aspect.

For my particular needs, are Registry.create() and .destroy() thread safe?

[2018-03-29 21:01] skypjack commented on #64
Not a problem. Maybe it's better if I add an extensive note to the _Side Notes_ section. It already tells something to the readers about thread safety and views actually. There isn't much to say about this argument, but for the fact that I could write a book about how to deal with threads in an ECS!! :-)

[2018-03-29 21:14] gamagan commented on #62
hehe. Free as related to performance.

If getting signals on create()/destroy() will tank performance, then it aint worth it.

Also, its not a must have feature. I was just curious.

Use case:
System(s) listen to create()/destroy() signals. On create(), they inspect if the entity has components they care about. If so, keep reference to entity. on destroy() signal, remove entity from list. You woul

[2018-03-29 21:39] skypjack commented on #64
Added a note as mentioned above. Thank you for having pointed it out.

[2018-03-29 21:39] #64 closed

[2018-03-29 22:26] gamagan commented on #62
Sounds good.

[2018-03-29 22:42] gamagan commented on #64
Thanks for adding the note. Two comments, however:

1. It's better to put it in named section, which has a link in the Table of Contents. That way, it's obvious from the TOC that there's a section devoted to this topic. It's an important topic. Currently, it's burried in the side notes, so it's not apparent that it's mentioned in the docs. Even knowing that you added it, I couldn't find it, at fir

[2018-03-30 05:48] skypjack commented on #64
No offense, don't worry. I see what you say.
The problem is that it's much more complicated than this. It's not just a list like _such and such ok, such and such no_.
First of all, one should have a grasp of what are the possible approaches to the problem ECS and threads. Then I should explain in which cases a solution should be preferred and why. At this point we can explore the methods and say s

[2018-03-30 09:12] vblanco20-1 commented on #62
Component dependencies would be a very useful feature. Ive already implemented a version of that on my end as i needed it (as im using wrappers to create the components, those wrappers also check for component dependencies).
For what you are saying, it seems interesting. At the moment im using a "Delete" component that i add when i want to delete something, and then my DeleteSystem checks for all

[2018-03-30 09:29] skypjack commented on #62
@vblanco20-1

Can I ask you more details on this? Maybe I'm missing something to which you thought and I could steal your ideas. :-)

In general and trying to sum up, the performance hit in this case is the one of a comparison between iterators for each component.
Imagine you have an array of listeners for each component. If you delete a component, the registry tries to iterate listeners to notify

[2018-03-30 10:00] vblanco20-1 commented on #62
Sadly its not useful to you. As you saw from my other posts, im integrating enTT with unreal engine. To do this i use "wrappers" that are unreal engine ActorComponents. This ones act as a container, and when a normal unreal object gets spawned in the world, the ActorComponents get notified and register their internal EnTT component with the global registry. For dependencies, i do a "has" check on

[2018-03-30 10:20] skypjack commented on #62
@vblanco20-1 Good, not a problem.
The idea is to let users attach only member functions. No lambdas, to avoid extra allocations due to the use of `std::function`s.
What about? Your experience with `EnTT` is invaluable.
Thank you very much for your help, really appreciated.

[2018-03-30 11:27] vblanco20-1 commented on #62
You already have signals and similar. Easiest would be to just use one of those, no?

[2018-03-30 11:29] skypjack commented on #62
@vblanco20-1 Yep and they don't accept lambdas. :-)

[2018-03-30 11:32] vblanco20-1 commented on #64
Probably should write about what i did.
In the space battle i created, the target aquisition for the bullets was too expensive. Even with an acceleration structure, there were 3000 bullets trying to find all of the possible targets in an X radius to steer towards them.

What i did, is to use a raw view .count function to initialize an array, and then a normal view to copy all the bullet data from

[2018-03-30 11:37] vblanco20-1 commented on #62
If you are sending the registry + the entity ID, there is a good chance it can work on free functions, with a completely basic function pointer.  If you need to access "persistent" data, you could get it from a tag in the registry.

[2018-03-30 11:41] skypjack commented on #64
@vblanco20-1

Be aware that pointers and references to components can be invalidated in case you add or remove some other instances.

[2018-03-30 12:43] vblanco20-1 commented on #64
Of course. I was copying back into the temporal array every time i wanted to update the system. Even with the copy and allocation it was still a big upgrade in performance.

[2018-03-30 12:44] skypjack commented on #62
@vblanco20-1 Actually `SigH` already works with both free functions and member functions, so why not? I wouldn't limit the whole thing to the sole free functions. It will be easier also to attach directly systems to the registry and you can avoid defining specific tags for your purposes.

[2018-03-30 15:55] skypjack commented on #62
Just a thought (feedbacks are appreciated on this).

To completely avoid allocations, we could limit the number of listeners to one on construction and one on destruction for each component.

Benefits:
* As I said, no allocations at all
* Probably better performance
* Easier to work with when it will come the time to introduce support for custom allocators

Drawbacks:
* Well, quite obvious, only o

[2018-03-30 16:21] vblanco20-1 commented on #62
In my opinion, one single listener is a good idea if it makes it faster. The more generic case would be to have one system listen for the destruction of the component they are handling with an external resource. If one wants to have multiple listeners, he can just then use another kind of external bus, wich allows one to still have multiple listeners if thats what he wants.

[2018-03-31 13:48] skypjack commented on #62
I'm experimenting with both the solutions. Some updates:

* The single listener approach is trickier than what I thought initially, mainly because of the persistent views that break a bit the whole thing. It's quite hard to define an implicit list among them and I haven't find a good way to do that so far.

* Using `SigH` and the others seem to be slower than implementing a custom solution tailore

[2018-03-31 18:59] mhaemmerle commented on #62
What about using something like persistent views for the created/destroyed components? So one could prepare a persistent view for either component creation or destruction, retrieve it in one or more systems and clear it at the end of the frame?

Depending on how you look at it, it could either be a replacement for the events or a completely separate implementation.

[2018-03-31 19:36] skypjack commented on #62
@mhaemmerle I see memory usage as the main problem in this case. Sparse sets aren't the best approach to this problem unfortunately.

[2018-03-31 21:35] mhaemmerle commented on #62
Don't let yourself be misled by my use of "persistent view" - that was aiming more at the user's perspective of having to `prepare` the view before utilizing it :) and thus enabling the collection of add/removed components. The core of my suggestion is to store the added/removed components in a datastructure/view that can be iterated over by the user (potentially multiple times / frame). And just

[2018-04-01 08:55] skypjack commented on #62
@mhaemmerle I'm asking just to fully understand your point.
The registry hasn't the concept of tick/frame/loop, so there is no guarantee that data are meaningful, no matter what is the data structure in use. It would be completely in charge to the user to clean them sooner or later.
Moreover, it requires to copy entity identifiers and components, because the registry recycles all of them as soon a

[2018-04-01 09:29] skypjack commented on #61
@mhaemmerle

Side note.
Another way to disambiguate could be the one already in use in the standard library.
Something along this line:
[code]
What do you think about?

[2018-04-01 10:58] mhaemmerle commented on #61
Interesting, though in my **humble** oppinion it still shows a weakness in an otherwise excellent API.

[2018-04-01 11:36] mhaemmerle commented on #62
I think it would be perfectly fine to communicate the behaviour of that collection in the documentation. I'am also going out on a leg here, but my assumption is that almost all users of ECS are using them in some kind of game/render loop? Also the `reset` function on the `registry` could clear out the collection if the ECS is used in a more on/off way.

The components could obviously not be reused

[2018-04-01 16:51] skypjack commented on #62
@mhaemmerle

I'm using `EnTT` at work and it's not part of a loop actually. :-)

This is the most tricky part. As it works now, destroying a component makes it immediately available to its pool. Instead, you are proposing a kind of _two-step destroy process_. I've no idea about how to implement it without refactoring a great part of the codebase.

What I don't understand is why one would want to s

[2018-04-01 18:57] skypjack commented on #61
@mhaemmerle

Another way to implement it could be through CRTP idiom.
As an example, if all single instance components inherit from a class like this:
[code]
We can easily intercept their types through sfinae based techniques and thus all the member functions can have exactly the same name (`assign`, `replace`, and so on).

[2018-04-01 19:21] skypjack commented on #62
@mhaemmerle

I see. :-)

Good. You confused me too. I'm glad we agree on this point.

In general, as long as there exists a non-const version of `get`, I think that sending a signal during a `replace` could be misleading.
I mean, it gives the idea that the framework keeps track of changes, but it isn't true. You can still work around the built-in system by means of a `get` and errors like this can

[2018-04-01 19:46] mhaemmerle commented on #62
I mean, it gives the idea that the framework keeps track of changes, but it isn't true. You can still work around the built-in system by means of a get and errors like this can be very subtle.
Not also that views do not have a replace member function and keep track of changes from them could be even more tricky.

It seems like I was unable to explain the concept of reactive systems and their benef

[2018-04-01 21:20] skypjack commented on #62
@mhaemmerle

You succeeded in explaining the whole fact.
The difference with EnTT is that components in Entitas are immutable. Therefore you **must** update them through a `replaceSomething`, thus the library **can** intercept changes and react accordingly.
In EnTT, you can do this instead:
[code]
That is, components are mutable. You can change them and the registry won't know any time soon about

[2018-04-01 23:06] mhaemmerle commented on #62
I hereby invite you to fork the repository and refactor it to the proper EnTT way :)

Your're right in the regard that this will not work in Entitas:

[code]

Though EnTT and Entitas share the exact same behaviour when mutating the component directly.  You can do the following in Entitas and it will work perfectly fine (apart from losing support for reactive systems for the mutated component type

[2018-04-02 05:44] dbacchet commented on #62
@mhaemmerle, I read twice the entire thread and I believe you're overreacting little bit :)

The point that @skypjack was raising was not about brain-dead users that cannot understand how to use a method; was about a _design decision_ and being consistent with that.

Or maybe to ask since the beginning "what's the best way of modeling reactive systems using EnTT"? I feel you want to implement exac

[2018-04-02 07:38] skypjack commented on #62
Thank you @dbacchet and, of course, it goes without saying that I'm thinking about it. You know... :-)
It's a matter of time.

@mhaemmerle

I'm sorry you reacted this way.
Just to be clear, my goal isn't to make a clone of an already existent library. Even more if a requested feature can be a potential performance hit or a design flaw.

Fortunately users of EnTT are smarter enough to help me in de

[2018-04-02 10:52] mhaemmerle commented on #62
@dbacchet @skypjack Seems like I should've added an emoticon after the second to last paragraph, because it's meant tongue in cheek but sadly left room for a different interpretation. I've dropped the ball by not making that absolutely clear (like in the very beginning of the comment) and fixed that through an edit.

I'am going to wait for the implementation of the **Signals on component creation/

[2018-04-02 18:56] skypjack commented on #62
It's pretty simple. The API will look probably like this:
[code]
Something along this line also to disconnect listeners.
As mentioned in the title, signals on component creation/destruction.
I'm still trying to figure out if the same is possible for tags and how to implement it.

I've still to consider any other change to the topic so far.

[2018-04-02 20:53] skypjack commented on #55
Created tag v2.5.0 - enjoy. :-)

[2018-04-03 12:01] vblanco20-1 commented on #62
Syntax looks good to me. I could easily get use from it. What is the signature of the signal function?

[2018-04-03 12:09] skypjack commented on #62
@vblanco20-1 Probably `void(Registry &, Entity)`. The same both for construction and destruction. It's easy to reuse also in future in case we add signals on `replace`, `create` and `destroy`. Sounds good?

[2018-04-03 12:44] skypjack commented on #62
@vblanco20-1

You save a `get` only in some cases actually. As an example, during a `remove` the registry doesn't get the component, so to `get` it for you introduce a performance hit otherwise avoidable in case you weren't interested in the component.

Here the design decision is:
* Differentiate the signatures for the callbacks (`void(Registry &, Component &, Entity)` during construction, `void(

[2018-04-03 13:30] vblanco20-1 commented on #62
That makes complete sense. I guess Registry&,Entity would be the best, to keep construction and destruction on the same signature.

[2018-04-03 19:40] skypjack opened #65 "Call for comments: single instance components (aka tags)"
So far, tags and components have no requirements and a type can be used both as a component and as a tag.
This is also the reason for which their APIs are slightly different. As an example, to `assign` a tag we must use `attach` and to `replace` it we have to use `set`.
This approach could be error-prone, mainly because it happens that users use a tag as if it's a component or viceversa and the bu

[2018-04-04 06:35] ArnCarveris commented on #62
@skypjack
Would be nice, if will be implemented following API.
[code]

[2018-04-04 06:37] ArnCarveris commented on #65
@skypjack

Is possible to hide inheritance behind API?

[2018-04-04 06:43] skypjack commented on #65
@ArnCarveris

Do you mean, sort of factory method or what?

[2018-04-04 06:45] skypjack commented on #62
@ArnCarveris

What is the expected behavior exactly? Your listener attached to all the pools of components or a listener for construction/destruction of entities?

[2018-04-04 06:47] ArnCarveris commented on #65
@skypjack
[code]

[2018-04-04 06:49] ArnCarveris commented on #62
Only when entity was created/destroyed.

[2018-04-04 07:50] ArnCarveris commented on #62
@skypjack

What performance hit difference between entity & component creation/destruction?

For internal editor, capturing created entity range group.

No need create extra magic component for observing entity only lifetime.

[2018-04-04 07:59] skypjack commented on #62
@ArnCarveris

They are two different problems.
Component creation/destruction is somehow required to provide users with persistent views. Moreover, it enables several features otherwise pretty difficult to develop.
Entity creation/destruction isn't required for the purposes of the registry. Adding a signal handler there would mean adding something like this (even if you have no listeners at all):

[2018-04-04 08:04] ArnCarveris commented on #62
@skypjack
I see, that is bad idea, there are ways that can be achieved without it.

[2018-04-04 08:17] ArnCarveris commented on #65
@skypjack

So there is no way to avoid to `subclassing` `SingleInstanceComponent` at client side.

[2018-04-04 09:25] skypjack commented on #62
@mhaemmerle It's me or Entitas hasn't a _replace_ event and it triggers a couple of destruction/construction events in place of it?

[2018-04-04 10:11] mhaemmerle commented on #62
There's a delegate on the entity [here](https://github.com/sschmid/Entitas-CSharp/blob/develop/Entitas/Entitas/Entity/Entity.cs#L26) and the site where it's called [here](https://github.com/sschmid/Entitas-CSharp/blob/develop/Entitas/Entitas/Entity/Entity.cs#L189). This is triggered after calling the respective replace method in the generated extension [here](https://github.com/sschmid/Match-One/b

[2018-04-04 10:24] skypjack commented on #62
@mhaemmerle

I was referring to something like [this](https://github.com/sschmid/Entitas-CSharp/issues/24#issuecomment-130433255) (first link I found, not sure it's still valid):

Anyway it looks like it's strictly related to the groups. Your links seem to confirm that the common behavior isn't to trigger also added/removed events.

Thank you.

[2018-04-04 10:42] mhaemmerle commented on #62
The groups have an event of type `AddedOrRemoved` seen [here](https://github.com/sschmid/Entitas-CSharp/blob/develop/Entitas/Entitas/Group/GroupEvent.cs#L6) which confirms your initial assumption. Yes, the discussion in the link is a bit older, but the rough concept is still in place. If a user is interested in getting events for added/replaced/removed components, they would create a group for it

[2018-04-04 11:36] skypjack commented on #62
@mhaemmerle
I was exploring the different ways to notify listeners about a replacement and I found it.
It seems interesting the idea of deducing that something has been replaced as a consequence of an add/remove sequence and as long as the entity identifier doesn't change in the meantime. The drawback is that listeners on add/remove are triggered as well if the replace works like an alias for sort

[2018-04-04 13:05] skypjack commented on #62
@mhaemmerle

Where is the documentation of the new event system?
I'm curious to know if the behavior is similar to what I observed.

Thank you.

[2018-04-04 13:43] mhaemmerle commented on #62
Didn't find documention either, but remembered this issue [here](https://github.com/sschmid/Entitas-CSharp/issues/591); maybe even better than documentation as there's a discussion with the reasoning behind it.

[2018-04-04 20:24] skypjack commented on #62
@mhaemmerle

Put aside the fact that we cannot detect changes on data members in C++ (the registry doesn't even know what are the data members of a type actually), it seems that the event system of Entitas launches events only when components are added or removed. Am I wrong?
I wouldn't add a per entity signal handler, mainly because it seems a waste in terms of memory usage and also because entit

[2018-04-05 10:12] mhaemmerle commented on #62
Basically everything in Entitas is using groups under hood one way or the other; those are kept up to date by subscribing to component changes on each entity. You're right in your assumption that the events feature in Entitas only runs when components are added/removed to/from an entity.

[2018-04-05 10:29] skypjack commented on #62
@mhaemmerle

Sparse sets are kind of groups at the end of the day.
The behavior you described is more or less how persistent views work under the hood: they are (tightly packed) groups of entities kept aligned with the registry each time a component in which they are interested is added or removed.

The _issue_ was that the signals to which they where attached weren't exported to the users.
I did

[2018-04-05 10:38] mhaemmerle commented on #62
Do you have an example of an EnTT reactive system?

[2018-04-05 11:51] skypjack commented on #62
@mhaemmerle

Not yet. I'm working to refactor the signal stuff so as to separate signals from sinks. I want to avoid things like this:
[code]
In other terms, `publish` will be be available only within the registry as it ought to be.

To define a reactive system isn't much difficult anyway.
It's trivial in case you want to observe only one component (sort of _keep track of all the entities to which

[2018-04-05 23:39] Wulfe813 commented on #36
Well, I know this is closed and all... Anyways, I'm looking into using EnTT to rebuild Cataclysm: Dark Days Ahead with sane design. Not technically using it yet(still working out the mechanics while trying to cut through one of those Gordian Knots), but if we go ahead with it and start making progress, I'll drop you a link.

[2018-04-06 06:33] skypjack commented on #62
A first draft of the changes is available from `experimental`.

The sole doubt I have is if it's worth it adding signals also for tags.
I mean, a tag is quite easy to observe even without signals: store aside the attachee, in case it's different during the next tick we can deduce that a remove and attach took place and we have both the entity involved at once. The sole drawback is that the _notifi

[2018-04-06 06:41] skypjack commented on #65
Another way to _solve_ it that is half way between the two approaches comes directly from the standard library: tag dispatching.
We could add a dedicated tag type like this:
[code]
Then use it as a first parameter on `assign` and `replace` whenever a single instance component is involved.

This way we would have a common API and there is no need of inheritance.
Still partially error-prone, at leas

[2018-04-06 21:47] skypjack commented on #65
I'm tempted to introduce a class type to disambiguate overloads when required, as mentioned above.
I made some experiments and it seems a good compromise, even if a bit verbose. @morbo84 ? :-)

[2018-04-07 11:53] skypjack commented on #62
@mhaemmerle

Well, built-in support for signals in the registry introduces performance hits. I can still define systems that do the job under the hood whether required for the users, so as not to for them to do it.
The real _issue_ is that it won't be synchronous. I'm trying to figure out if it can be a problem after all.

We cannot really _solve_ it, so... If you get a reference to a component an

[2018-04-07 12:33] mhaemmerle commented on #62
I have a more radical suggestion: split the current tag implementation into two distinctly different features (single responsibility principle).

The first one would use `HashedString` to tag entities with the guarantee of being unique in the context of a registry. This would solve the current semantic disconnect of a `tag` being _more than just a tag_.

The second one would use regular components

[2018-04-07 13:49] mhaemmerle commented on #62
Maybe _sometimes_ there's merit in what "a lot of people consider"; even if would just help you decomplect an already pretty dense API and thus implementation. Maybe it would even help you implement signals on unique components in an easy manner. But alas, I get the feeling that you've made up your mind already and know better now than try to convince you otherwise ;)

Cool.

[2018-04-07 14:05] skypjack commented on #62
@mhaemmerle

The problem is all in the fact the components already required signals because of the persistent views, so the performance hit was already there. Any other _feature_ do not use signals, so it would introduce a performance hit.
To be honest, creation and destruction of entities, tags and components aren't usually along critical paths, so I don't think it's a problem to introduce signal

[2018-04-07 14:40] mhaemmerle commented on #62
Actually thinking about printing this on a T_Shirt :)

These two assertions are super abstract to me, as there's no number attached. _How much slower is it going to be?_ _How much more memory usage are we talking about?_ Where should the line be drawn w.r.t. to EnTT's promise on performance? Also isn't in line with the EnTT creed that you pay for what you use? Maybe it's time for another round of

[2018-04-07 16:46] skypjack commented on #62
Much, much slower actually!! :-D
At a first glance, in case of no listeners it's a matter of an extra:
[code]
So, a comparison each time a tag is attached or removed?

Memory usage is the one of an empty vector in case of no listeners, so it's mainly implementation defined. However I'd say at least the size of an extra couple of pointers for each tag.

Actually it could make sense. :-)
I used the

[2018-04-07 16:49] skypjack commented on #62
@mhaemmerle

Actually no problem at all apparently.
What about:
[code]
Vs:
[code]
The main difference is a couple of signals for each tag type vs a couple of signals shared between the tags and the burden of an `if` user side.

[2018-04-07 17:53] mhaemmerle commented on #62
That is still rather ... abstract ;) And it still sounds too complex for what it's doing IMHO, though let's agree to disagree here, ok? :) And as the number of tags is probably way, way smaller than the number of entities - that should probably be fine.

[code]
Cool, that's something people can work with and don't have to worry about different behaviours.

[code]
Out of curiousity, what's the reas

[2018-04-07 19:59] mhaemmerle commented on #62
Got a more full-fledged example here?

It's just ... odd ;) Also godbolt.org says it's ~40 instructions more :P

`constructionSignal`, `destructionSignal`
`onConstruction`, `onDestruction`

Splitting hairs here.

[2018-04-07 20:53] skypjack commented on #62
@mhaemmerle

Sort of:
[code]
Vs:
[code]
Out of my mind, this won't be probably the _real API_, but it gives you an idea of what I'm speaking about.

Really? Using `-O3`? O.o
It's definitely odd, I agree.

[2018-04-08 16:31] skypjack commented on #65
That's it. Tag dispatching.
Let's close this issue.

[2018-04-08 16:32] #65 closed

[2018-04-08 21:54] skypjack commented on #62
@mhaemmerle

An issue regarding tags and signals is just popped out.
Unlike components, tags aren't explicitly updated when an entity is destroyed. Because of how entity identifiers are defined (entity + version), it isn't necessary to update tags and thus I never do it (just an optimization).
In other terms, a tag is available to use if it has never been assigned to an entity or in case the entit

[2018-04-09 09:55] mhaemmerle commented on #62
You could also use two maps for tags to trade memory for speed.
[code]
If you's split the EnTT tags feature into actual tags and singleton components, you could use two maps for the tags and a one map for the singleton components, as they actually don't need an entity to work.

[2018-04-09 10:38] skypjack commented on #62
@mhaemmerle

I didn't get this point. Single instance components need an entity to work actually.
As an example of use I've been told of by an user, imagine a `Camera` component you want to be unique. It's attached to an entity that has also a `Transform` and who knows what other components.
When you want to update all the positions of your entities, you can get the transform from the entity that

[2018-04-09 11:02] mhaemmerle commented on #62
You could solve that with string tags.

I may be biased, but I really like [this](https://github.com/mzaks/EntitasCookBook/blob/master/chapters/1_ingredients/101_component.md#unique-component) explanation of unique/singleton components.

[2018-04-09 11:24] skypjack commented on #62
@mhaemmerle

In Entitas, unique components are components. So they need an entity. Am I wrong?

[2018-04-09 11:51] mhaemmerle commented on #62
They **are** components, Entitas **generates** the code to extend the Entity-class as well as the Context-class (using C# extension feature), so they **still** need an entity. When accessing the component, Entitas does an iteration over a collection containing exactly one entity. Which is ... sub-optimal IMO :)

When removing the component, **the entity gets destroyed** as seen [here](https://gith

[2018-04-09 15:50] skypjack commented on #62
@mhaemmerle

If one doesn't want to assign a single instance component to an entity (to be able to retrieve other components as an example, as in the example I made), why putting that component in a registry or ECS or whatever?
I don't understand. I mean, make it a singleton and that's all. Is it only so as to be able to say - _I don't use singletons for they are bad_?
Come on, that's exactly the

[2018-04-09 16:39] mhaemmerle commented on #62
Of all the things mentioned in my comment and the Entitas cookbook ... that's the one thing you cherry-pick to get mad about? ;) Dude, I don't think I can help you at this point ;)

[2018-04-09 17:06] skypjack commented on #62
@mhaemmerle

Ahahahah... Well, we were speaking about tags and single instance components, right? :-)
At the end of the day, Entitas just uses  two different data structures to handle exactly the same thing. It doesn't make much sense.

With a C++ ECS (not necessarily `EnTT`) you can use:

* either a tag component if you want more complex single instance components
* or a template class that accep

[2018-04-09 20:11] skypjack opened #66 "Call for comments: "singleton mode" for tags"
Well, ok, I didn't find a better name than _singleton mode_.
All the details are in [the last comment](https://github.com/skypjack/entt/issues/62#issuecomment-379847327) of #62. I'm creating this issue to _discuss them_ and to try to understand if it's one of the _most wanted_ feature.
I'm also adding a note in the TODO list, mainly because I'm working on some other features at the moment.

Let's

[2018-04-09 20:12] skypjack commented on #62
Created a dedicated issue to discuss this (let me say) _singleton mode_ for tags.
I'm closing this issue because I made available signals for components on `experimental`.
Thank you @mhaemmerle and all you guys for participating.

[2018-04-09 20:12] #62 closed

[2018-04-09 20:27] ArnCarveris commented on #66
@skypjack sounds like [subsystem](https://github.com/urho3d/Urho3D/blob/21b1c48da0f3144110b3451a0a10bc5467e9d307/Source/Urho3D/Core/Context.h#L273)

[2018-04-09 20:29] skypjack commented on #66
@ArnCarveris

I must admit that I don't know what's a subsystem in Urho3D.
Can you elaborate a bit further on them, please? Thank you.

[2018-04-09 20:36] ArnCarveris commented on #66
@skypjack well subsystem same as system in ECS there some subsystems usages in [ Urho3D](https://github.com/urho3d/Urho3D/blob/030877647efdc1788f04e06d1e898b458ba60793/Source/Samples/03_Sprites/Sprites.cpp#L64) and [gentlemanly_engine](https://github.com/gentlemans/gentlemanly_engine/blob/6993d143b905c7758531af929e3210b4e66df372/samples/tutorial01/main.cpp#L13)

[2018-04-12 09:50] skypjack commented on #66
Time to close this issue. It seems not a much desired feature.
I put a note in the TODO list so as to work on this sooner or later.
Thank you all for participating.

[2018-04-12 09:50] #66 closed

[2018-04-17 18:53] skypjack commented on #62
@mhaemmerle

In the meantime I added signals for tags. Branch `experimental`.

[2018-04-18 17:57] vblanco20-1 commented on #27
@skypjack  i went to try to implement a JSON save/load for it (custom one, not like the one you got in the test). I see that it stores an entity and then the component.  It stores all the components that you tell it.
Is there a possibility to limit it to a subrange of entities? maybe a query like the ones in a system? In my example, i might want to replicate the Position component, but only on the

[2018-04-18 19:10] skypjack commented on #27
@vblanco20-1

Can I ask you to open another issue for this? Sort of _More on Save/Restore_.
I've already put some notes in the todo file for I want to _extend_ the save/restore functionality. I think it's worth it discussing the new features in a new thread.

If it's ok for you, feel free to just copy-paste your last comment.
It contains interesting points to which I'd like to reply so as to propo

[2018-04-18 21:30] skypjack opened #67 "More on Save/Restore"
[This](https://github.com/skypjack/entt/issues/27#issuecomment-382474863) is an interesting comment about save/restore functionalities.
I'm opening a new issue because I plan to offer something more and want to discuss everything with anyone interested.

---

Here are parts of the comment above linked:

I will answer the questions and I will make some proposals tomorrow morning (forgive me, it is

[2018-04-19 08:34] skypjack commented on #67
@vblanco20-1

I've already put a note in the TODO file (branch `experimental`). I want to extend the save/restore part with more functionalities actually.
Let's consider your case. You want to save all the entities that have `Position` and `NetSerialize`, but you don't want to store `NetSerialize`, right? It works like a tag for the entities to pick up, am I wrong?
In this case, a _view like_ appr

[2018-04-19 08:51] vblanco20-1 commented on #67
What you have there does look good. A "view" based approach to filter entities would be flexible enough for pretty much any use case, and then the user can rearrange himself in the archive.

I did think of the rearranging, but it was very error prone due to the separation of entity and component. An idea that would work very well is to have the archive be Entity,Component instead of just Component

[2018-04-19 16:58] BPopcorn opened #68 "component added event"
Hi, thanks for this great library. It is exactly what I was looking for! I have a small problem right now. I don't know if this is the right place to ask questions but I was wondering if there's a way to detect when a specific component is added to an entity. I would like to use z-ordering, but only sort the components when a new component was added. Is there an internal event I can subscribe to?

[2018-04-19 17:55] skypjack commented on #68
Hi @BPopcorn

I'm glad you like `EnTT` and you plan to use it. Really appreciated.
In this case, do not forget to star the project. It helps to spread it more and more.

Events on creation/destruction for components and tags is an upcoming feature. It's already available on branch `experimental`.
The stuff on that branch should be considered under development and I cannot guarantee it remains the

[2018-04-19 18:36] BPopcorn commented on #68
Thanks for the fast reply. Great to hear that such a feature is being worked on. I'll have a look at the experimental branch when I get more fluent with the library.

[2018-04-19 18:36] #68 closed

[2018-04-19 18:40] skypjack commented on #68
Sure. Do not hesitate to ping me if you need help! ;-)

[2018-04-19 18:57] ArnCarveris commented on #68
@skypjack Hi, can you add signal on component pool creation `void(Registry<Entity> &, std::size_t/*pool_idx*/)`?

[2018-04-19 19:45] skypjack commented on #68
@ArnCarveris Actually the idea is to make `EnTT` allocator-aware. If your intention is to keep track of memory usage, it's easier to use a dedicated allocator designed for debug purposes.

[2018-04-19 21:09] ArnCarveris commented on #68
@skypjack

I'm trying solve other problem, I need catch moment right after pool was [created at once](https://github.com/skypjack/entt/blob/8ef4cdc9c3196396460dfe42c4d2c85c6ecdd0fa/src/entt/entity/registry.hpp#L96)
afterwards I'll associate some component template function with component pool index, it should help implement some kind of component-auto-factory, inspectors and other external user de

[2018-04-19 22:17] ArnCarveris commented on #68
@skypjack

Can I safely remove listener inside attached listener during invocation? Events trigger only once.

[2018-04-20 07:38] ArnCarveris commented on #68
@skypjack

Error-prone, better create different signal for it,

[2018-04-21 14:44] exilief opened #69 "How to disable/deactivate components?"
Hello! First I want to say, this is great! I'm glad I found this ECS implementation.
Even though I don't understand much of the C++14 template magic I can still use it quite easily.
But I have some problems finding the best way to do things. It might be a noob question, so I'm sorry if this is the wrong place to ask this.

So, I want to have a way to disable components, but store them for later. I

[2018-04-21 15:28] skypjack commented on #69
Hi @exilief

I'm glad you like `EnTT`. Really appreciated.
Welcome and thank you for participating.

There is no way to _deactivate_ a component actually. I wouldn't make it part of the registry, mainly because I don't see a way to make it efficient both in terms of performance and memory usage. It seems to me that the sole viable solution is to create a sort of _secondary pool_ for each component

[2018-04-21 15:28] #69 closed

[2018-04-21 16:01] exilief commented on #69
Thank you for responding! It's great to see you so active here :) But you're right it's not really an issue, sorry about that.

Okay, yes I agree, doing it with the empty auxiliary component works well in this case and I'm doing it this way now. I saw you mention it in the discussion about Spaces as well, but I just thought it's only a dirty trick until we have a better way. I thought this because

[2018-04-21 16:11] skypjack commented on #69
In case of animations, probably I would remove the components instead of freezing them.
What kind of animations are you talking about exactly? If you can provide me with more details, maybe I can try to give you some hints.

---

Unfortunately, because of how `EnTT` works internally, there isn't a clean way to _deactivate_ a component. An entity has an instance or it doesn't have it. A pool then e

[2018-04-21 18:08] iderik commented on #56
Any news about the blueprint?

[2018-04-21 18:10] skypjack commented on #56
@iderik See branch `experimental`. I added `dependency` helpers and signals. If you combine them, you get what was called _blueprint_ here.

[2018-04-22 00:41] Kerndog73 opened #70 "Homebrew formula"
Have you considered making your library a Homebrew package to ease updating the library?

I read some of the documentation and I've tried to make this is easy as possible for you because I really want this to happen.

Homebrew is the most popular macOS command-line package manager. I don't think you actually need to run homebrew in order to create and update a package.

The first thing you'll have

[2018-04-22 05:56] skypjack commented on #70
Why not `make && make test`? It should compile and run tests as expected. Did you try it?

[2018-04-22 06:27] skypjack commented on #50
Hi,

Would you mind to update the package to v2.5.0?
Otherwise I can make the PR next week.

Thank you.

[2018-04-22 09:04] DavidHamburg commented on #50
Hi,

Sorry, I haven't seen the updated version. Now I'm subscribed to the rss feed to get update notifications.

Done, https://github.com/Microsoft/vcpkg/pull/3287

[2018-04-22 09:25] skypjack commented on #50
Don't worry. I just noted that it was not up-to-date but I'm out of home, so I cannot do it.
Thank you very much for your help.

I'm also thinking of a way to automatize it, but I've not had enough time to work on it so far.

[2018-04-22 09:58] Kerndog73 commented on #70
I had a lot of trouble trying to get the tests to run.

So after a few frustrating hours I decided to try and run the tests myself without homebrew doing it for me. Then cmake spat out a whole lot of error messages at me

[code]

I think it's best to just leave the tests out of the package because I don't really think they are necessary.

[2018-04-22 10:00] Kerndog73 commented on #70
If you don't mind excluding the tests then I'll create the initial pull request on homebrew-core

[2018-04-22 10:03] skypjack commented on #70
I see. The problem is that you are doing something like this, right?
[code]
CMake is thought so that you must start from the root directory instead. Something along this line:
[code]
That is, you must create the build directory within the root directory and not within test.

The README contains a few notes about how to build tests.
Let me know if it works fine for you this way. It should, actually

[2018-04-22 10:09] Kerndog73 commented on #70
Ooooh, I see. I was wondering why there were two `CMakeLists.txt` files! I just ran the tests successfully. Now I just need to edit the formula to run the tests in this way.

[2018-04-22 10:11] skypjack commented on #70
Good to know!! `make && make test` should work. Doesn't it?

[2018-04-22 11:02] Kerndog73 commented on #70
I've edited the formula to run the tests. Running the tests with Homebrew is not as simple as just `make && make test`. There's a lot of fumbling around. I had to copy files all of the place to finally get it to work. Now that the tests are running, I'll create a pull request on homebrew-core to add the formula.

[2018-04-22 11:16] skypjack commented on #70
That's good!! Thank you, really appreciated.
Would you mind to keep an eye on the project and update the formula as soon as new versions are released? Someone [is already doing it](https://github.com/skypjack/entt/issues/50) for vcpkg. Help from users of the library is highly appreciated. :-)

[2018-04-22 11:26] skypjack commented on #70
Thank you. I'm glad you find it _fantastic_.
A lot of things are the result of suggestions or requests made by the users, so feel free to participate whenever you want. Your help is invaluable!!

Keep also an eye on the branch `experimental`. I'm working on the v3 and adding a lot of new features. Unfortunately it will take a while for I'm doing it for free in my free time, but sooner or later I'l